@font-face {
  font-family: "iconfont"; /* Project id 2731519 */
  src: url('iconfont.woff2?t=1628481344851') format('woff2'),
       url('iconfont.woff?t=1628481344851') format('woff'),
       url('iconfont.ttf?t=1628481344851') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e654";
}

.icon-zhuanjifenxinzhuce:before {
  content: "\e690";
}

.icon-back_icon:before {
  content: "\e656";
}

.icon--nav-hangqing:before {
  content: "\e601";
}

.icon-ziyuan:before {
  content: "\e620";
}

.icon-caidan:before {
  content: "\eaf1";
  color: #FFFFFF;
}

.icon-xiangxia:before {
  content: "\e606";
}

.icon-zichan:before {
  content: "\e612";
}

.icon-login:before {
  content: "\ec05";
}

.icon-gonggao:before {
  content: "\e63c";
}

