.child a {color: #333333!important;}
.child:nth-child(4)>li>a{color: #afeeee!important;}
/*.mdhyskz{ color: #afeeee!important;}*/
.daohangt {background-color: #FFFFFF!important;}
.neirong {background-color: #191c2c!important;}
.childs {color: #f2f2f2!important;}
body {background-color: #f7f7fb!important;}
.childkeyongg{color: #000!important;}
.childkeyongs {color: #666!important;}
.neirongt {background-color: #FFFFFF!important;}
.bottom-nav {background-color: #FFFFFF;}
.xuni {background-color: #f7f7fb!important;}
.neirong{background-image: url(/index/images/language/grzxbj.jpg); no-repeat centen;background-size:100%100%;box-sizing: border-box;}