.headerbar .header-item {
    color: #333!important;
    background-color: #fff!important;
}
.bar-header .close {color: #666666!important;}
body{background-color: #f7f7fb!important;}
.cb-top {background-color: #FFFFFF!important;}
.cb-top{color: #333333!important;}
.chewmdv{background-color: #FFFFFF!important;}
.cz-input-box .blueinput {color: #333333!important;}
