.headerbar .header-item {color: #333!important;background-color: #fff!important;}
.bar-header .close {color: #000!important;}
body{background-color: #f7f7fb!important;}
#heyuezhanghu .ft20 {color: #588bf7 !important;}
#heyuezhanghu .ft12 {color: #333333!important;}
#heyuezhanghu .ft14 {color: #666666!important;}
.mtrasxfgx{background-color: #f7f7fb!important;}
#heyuezhanghu .btbox {background-color: #FFFFFF!important;}
#heyuezhanghu .btbox a p {color: #666666!important;}