.daohang {background-color: #FFFFFF!important;}
.daohang-zuo>a>i{color: #666666!important;}
.daohang-zhong{color: #666666!important;}
body{background-color: #FFFFFF!important; background: url(/index/images/language/ewmbj.jpg)no-repeat!important;background-size:100%100% !important; box-sizing: border-box;height: 100vh; }
.ercode-p1{color: #FFFFFF!important;}
.erweima{margin-top: 110% !important;}
.erweima{width: 100px!important;height: 100px!important;}
.erweima>img{width: 100px!important;height: 100px!important;}

