body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, hr {padding: 0px 0px;}
.daohang-zhong {color: #000 !important;}
.fbjyfh{font-size: 20px; color: #666 !important; padding-top: 20px;}
.daohang {background-color: #fbfbfb!important;}
.woyao {background-color: #f7f7fb!important;}
.woyaozuo a {color: #666!important;}
.usdtyyy>a{color: #1b243f!important;}
.usdtgggg {background-color: #FFFFFF!important;}
body{background-color: #fbfbfb!important;}
.fb-zwjl>p>span{color: #666666!important;}
.fb-zwjl>p{color: #666666!important;}
.daohang-zuo>a>i{font-size: 25px; color: #666666!important;}
.usdtyyy>a{color: #333333!important;}
