*, *:before, *:after {color: #333333;}
.headerbar {background-color: #FFFFFF!important;}
body {background-color: #f7f7fb!important;}
.caozuo button {color: #FFFFFF!important;}
.wtall-box {border-bottom: 1px solid rgba(102,102,102,0.1);}
.green>span:nth-child(2){color: #333333!important;}
.bar-header {border-bottom: none!important;}