a{text-decoration: none;}
.headerbar {background-color: #FFFFFF!important;}
icon{color: #1B1B1B!important;}
.back-button{color: #1B1B1B!important;}
*, *:before{color: inherit;}
*,*:after {color: #1B1B1B;}
.headerbar .header-item {color: #0b1622 !important;}
.scroll {background-color: #FFFFFF}
.trade-content header {border: none;}
.trade-content nav {background-color: #FFFFFF;}
.trade-content nav article {background-color: #FFFFFF;}
.trade-content nav article span.active {background-color: #FFFFFF;}
.trade-content nav article span.active {box-shadow: none;}
#container {background-color: #FFFFFF;}
.trade-view .trade_bar section:nth-of-type(1){background-color: rgba(102,102,102,0.9);color: #FFFFFF;}
.trade-view .trade_bar section:nth-of-type(1) i{color: #FFFFFF!important;}
.trade-view .trade_bar section:nth-of-type(1) p{color: #FFFFFF;}
.left-buttons a{color: #333333!important;}
.icon--17{color: #FFFFFF;}
.icon--18{color: #FFFFFF;}
.maizhang{color: #FFFFFF;}
.maidie{color: #FFFFFF;}
.mairu{color: #FFFFFF;}
.maichu{color: #FFFFFF;}
.mgle-md{color: #FFFFFF!important;}