*, *:before, *:after {color: #333333;}
.headerbar {background-color: #FFFFFF!important;}
.wtall-nav2 {background-color: #f7f7fb!important;}
.mordercd{color: #333333!important;}
.green>span:nth-child(2){color: #333333!important;}
.wtall-box {border-bottom: 1px solid rgba(102,102,102,0.1);}