.headerbar {background-color: #FFFFFF!important;}
.bar-header .close {color: #666666!important;}
*, *:before, *:after {color: #333333;}
body{background-color: #FFFFFF;}
.wtall-box{background-color: #f7f7fb!important;}
.bibi-state {background-color: #3d80ce; color: #FFFFFF;}
.wtall-box {border-bottom: 1px solid rgba(102,102,102,0.1);}