.head{background-color: #FFFFFF!important;}
.close{color: #666666!important;}
.register-box {background-color: #f7f7fb!important;}
.register-box .title {color: #333333!important;}
.register-box .retrieve {background-color: #FFFFFF!important;}
.register-box .input-text {color: #333333!important;}
.newinput .ng-pristine {color: #333333!important;}
body{background-color: #f7f7fb!important;}
.m-wzxz{color: #333333!important;}
.newinput {border-bottom: 1px solid #ddd!important;}