.close{color: #333333!important;}
.head{background-color: #FFFFFF!important;}
.logo{background: url() !important;}
.register-box{background-color: #f7f7fb!important;}
.title{color: #333333!important;}
.forget{color: #333333!important;}
.m-wzxz{color: #333333!important;}
.register-box .date .r-input {color: #333333!important;}
.register-box .date .r-code {color: #333333!important;}