body{background-color: #f7f7fb!important;}
.daohang-zuo>a {color: #666666!important;}
.daohang-zhong {color: #333!important;}
.daohang {background-color: #FFFFFF!important;}
.jiaoyi>input{ background-color: #FFFFFF!important; color: #666666!important;}
.usdtyyy>a{color: #333333!important;}













