body{background-color: rgb(22,31,62)!important;}
.ods-hode>div:nth-child(2) {color: #eeeeee;}
.icon-31fanhui1 {color: #eeeeee;}
.ods-whole>p {color: #eeeeee;}
.form-check-label {color: #999999;}
.ods-area>textarea {outline: none; color: #eeeeee; background-color: inherit; border: 1px solid #999999;}
.ods-top {background-color: #16263e;}
.ods-top-whole>p:nth-child(1) {color: #999999;}