body{background-color: rgb(22,31,62)!important;}
.hawhle{background-color: #16263e;}
.cld-hode>div:nth-child(3)>a{color: #ffffff;}
.cld-top{color: #e5e5e5;}
.pay-qqrsk {background-color: rgb(22,31,62);}
.cld-whole-jbjs{background-color:  #16263e;}
.cld-whole{background-color:  #16263e;}
.cld-wholes2>p:nth-child(1){color: #e5e5e5;}
.cld-whole2>p {color: #999999;}
.cld-wholes2-div1>p>span:nth-child(2){color: #999999!important;}
.pay-qqrsk-zfbzh {background-color: #16263e;}
.pay-qqrsk-zfbzh2>a>p>span:nth-child(1) {color: #999999;}
.pay-div1 {background-color: #161f3e;}
.pay-qqrsk-butt {background-color: #16263e;}
.pay-butt {background-color: #16263e;}