body{background-color: rgb(22,31,62)!important;}
.qxm-hode-div2 {color: #e6e6e6;}
.qxm-noe { color: #e6e6e6; background-color: #666666;}
.qxm-tow>p>span:nth-child(2) {color: #999999;}
.qxm-three{background-color: rgb(22,31,62)!important;}
.upload-content>h3{color: #e5e5e5!important;}
.pay-butt-back {background-color: #16263e;}
.pay-butt {background-color: #16263e;}