body{background-color: rgb(22,31,62) !important;}
.fajy-kzq{color: #e5e5e5;}
.daohang-zhong>span {color: #e5e5e5;}
.opti-whole{background-color: #00002f;}
.opti-bz>ul>li {color: #e5e5e5;}
.opti-bz>ul>li:nth-child(1) {background-color: #666666;}
.opti-list>ul>li {border-top: 1px solid #333333;}
.opti-list-div2-p1>p:nth-child(2) {color: #ffffff;}
.opti-list-div2-p1>p:nth-child(2)>span {color: #e9ecef;}
.opti-list-div2-p1>p>span {color: #e9ecef;}
.fabi-xzfb {background-color: #666666;}
.fabi-xzfb-div1 {background-color: #666666; border: 1px solid #999999;}
.fabi-xzfb-div1>span{color: #ffffff;}
.fabi-xzfb-div1>input{color: #ffffff;}
.fabi-xzfb-list2>ul>li>span:nth-child(2) {color: #ffffff;}
.fabi-xzfb-bt {background-color: #555555;}
.fabi-xzfb-bt {color: #ffffff;}
.fabi-xzfb-list2>ul>li>span:nth-child(2),.fabi-xzfb-list2>ul>li>span:nth-child(1){border-bottom: 1px solid #999999;}
.fabi-xzfb-hode>div:nth-child(2) {color: #ffffff;}
.icon-31fanhui1 {color: #eeeeee;}
.fbjy-xzquu-div1 {background-color: #161f3e;}
.fbjy-xzquu-div2>a {color: #fffdee;}
.fbjy-xzquu-div1>div {border-top: 1px solid #666666;}
.buy_div{background-color: #000033;}
.purchase-hoad>div:nth-child(2){color: #ffffff;}
.purchase-top>p{color: #ddd;}
.purchase-whole {box-shadow: none; background-color: #16263e; }
.purchase-whole-div-noe {border-bottom: 0px solid #666666;}
.purchase-whole-div-tow {width: 99%; border: 1px solid #666666; background-color: inherit;}
.purchase-whole-div-tow>span{color: #eeeeee;}
.purchase-whole-div-tow>input{color: #eeeeee;}
.purchase-whole-div-three>p>span:nth-child(2){color: #eeeeee;}
.purchase-information {color: #999999;}
.purchase-information {border-bottom: 1px solid #333333;}
.purchase-clause2>p {color: #999999;}
.purchase {background-color: #000033;}
.opti--xzskfs { border: 1px solid #999999;  background-color: inherit;}
.opti--xzskfs {width: 95.3%;}
.purchase-clause { color: #999999;  border: 1px solid #999999; background-color: inherit;}
.fabi-qrcs-whole {background-color: #16263e;}
.fabi-qrcs-whole-noe>div:nth-child(1) {color: #eeeeee;}
.fabi-qrcs-whole-tow-div3>p>a {color: #eeeeee;}
.fabi-qrcs-whole-tow {background-color: #666666;}
.fabi-qrcs-whole-tow-div2 {color: #eeeeee;}
.fabi-qrcs-whole-tow-p1>span:nth-child(2) {color: #eeeeee;}
.fabi-qrcs-whole-tow-div2 {border-top: 1px solid #000000;}








