body{background-color: rgb(22,31,62) !important;}
.index-h2 {color: #ebecf0;}
.icon-31fanhui1 {color: #ffffff;}
.ap-whole-two-div1 {border: 1px solid #555555; background-color: inherit!important;}
.ap-whole-two-div1>input{color: #ffffff;}



















