body{background-color: rgb(22,31,62)!important;}
.tran-hode>div:nth-child(2) {color: #eeeeee;}
.icon-31fanhui1 {color: #eeeeee;}
.tran-whole>ul>li>p{color: #eeeeee;}
.icon-xiugai {color: #dddddd!important;}
.tran-whole>ul>li {border-bottom: 1px solid #666666!important;}
.tran-whole-cancel>a {color: #eeeeee!important;}