body{background-color: rgb(22,31,62)!important;}
.hawhle {background-color: #16263e;}
.cld-top-noe>h5 {color: #eeeeee;}
.cld-hode>div:nth-child(3)>a {color: #ffffff;}
.cld-whole-jbjs {background-color: #16263e;}
.cld-whole {background-color: #16263e;}
.cld-whole2>p {color: #eeeeee;}
.cld-wholes2-div1>p>span:nth-child(2) {color: #999999!important;}
.pay-qqrsk-zfbzh {background-color: #16263e;}
.pay-qqrsk {background-color: rgb(22,31,62);}
.pay-qqrsk-zfbzh4>p{color: #999999;}
.pay-div1 {background-color: #16263e;}
.pay-div4>span{color: #999999;}
.pay-butt-back {background-color: #16263e;}
.pay-butt{background-color: #16263e;}
