body{background-color: rgb(22,31,62);}
.skfs-top>div {box-shadow: 1px 1px 1px 1px #000;}
.skfs-tjzfb {background-color: rgb(22,31,62);}
.cld-whole {background-color: rgb(22,31,62);}
.ods-hode>div:nth-child(2) {color: #eeeeee;}
.cld-whole-noe>p{color: #eeeeee;}
.cld-whole-noe>div { border: 1px solid #555555;   background-color: inherit;}
.cld-whole-noe>div>input{color: #ffffff;}
.skfs-sctp2>p {color: #999999;}
.cld-whole {width: 96%;}
.skfs-sctp>p{color: #eeeeee;}
.skfs-sctp>div {background-color: #666666;}
.icon-shangchuan {color: #999999;}
.upimg>p{color: #999999;}
.icon-31fanhui1 {color: #eeeeee}