body{background-color: rgb(22,31,62)!important;}
.headerbar .header-item {background-color: rgb(22,31,62)!important;}
.headerbar .header-item {color: #eeeeee!important;}
.bar-header .close {color: #eeeeee!important;}
.gesjy-whole{background-color: #16263e!important;}
.plr10{color: #eeeeee!important;}
.upload-content>h3{color: #eeeeee!important;}
.cz-input-box>p>span{color: #eeeeee!important;}
.cz-input-box .blueinput {color: #eeeeee!important; border: 1px solid #999999!important;}
.m-bou>span {color: #999999!important;}











