<!DOCTYPE html>
<html style="font-size: 132.813px;">

	<head>
		<meta charset="utf-8">
		<title>B.King官网|期权,外汇,虚拟币投资开户交易平台-enctrades.COM</title>
		<meta name="keywords" content="B.Kingenctrades,B.King,安信enctrades,合约交易,秒合约">
		<meta name="description" content="B.Kingenctrades平台拥有合约_秒合约2种交易模式，双重监管，正规安全。合约交易助力老手增加盈利，秒合约让新手轻松入门，闪电盈利！多终端交易，用户可24小时体验一流交易!">
		<meta name="full-screen" content="yes">
		<meta name="browsermode" content="application">
		<meta name="x5-page-mode" content="app">
		<meta name="x5-fullscreen" content="true">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<link href="/index/css/index_for.css" rel="stylesheet" type="text/css">
		<script src="https://hm.baidu.com/hm.js?ea5da0ed025ce44718399d39b666bfc5"></script>
		<script type="text/javascript">
			//web端自适应rem样式
			//auto adaptation
			var calculate_size = function() {
				var BASE_FONT_SIZE = 100;
				var docEl = document.documentElement,
					clientWidth = docEl.clientWidth;
				if(!clientWidth) return;
				docEl.style.fontSize = BASE_FONT_SIZE * (clientWidth / 320) + 'px';
			};
			// Abort if browser does not support addEventListener
			if(document.addEventListener) {
				var resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
				window.addEventListener(resizeEvt, calculate_size, false);
				document.addEventListener('DOMContentLoaded', calculate_size, false);
				calculate_size();
			}
		</script>
		<script type="text/javascript" src="/index/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/index/js/touchSlider.js"></script>
		<script type="text/javascript" src="/index/js/index.js"></script>
	</head>

	<body style="background:#262b3e;">
		<div class="inner-head">
			<a href="javascript:history.go(-1)">
				<img class="return_img" src="/index/images/gg-icon13.png">
			</a>
			免责声明
		</div>
		<div class="withdrawal-ins">
			<div class="path">
				<div class="vert"></div>
				<span class="bold">隐私条款</span>

				<div class="clear"></div>
			</div>
			<div class="step-box">
				<p>该隐私声明对enctrades如何收集、维护、使用和公开您的个人信息进行了说明。同时提供一些关于客户拥有的个人信息相关权利的细节。</p>

				<h3>个人信息</h3>

				<p>
					如需获取enctrades产品与服务相关信息、访问并使用该网站和其他enctrades网站以及/或者申请在enctrades中开立账户，请向enctrades提供您的个人信息。评估申请时，enctrades也可从公用渠道（例如：公司登记册）收集关于您的信息。</p>

				<p>如果您向我公司提供其他人的个人信息，则表示您得到相关授权并同意告知该人士我公司身份，我公司将基于下文所规定相关目的使用并公开该信息，且该人士可以访问我公司所持有相关个人信息。</p>

				<p>
					enctrades将保存您在我公司所开立账户上的一切交易和活动记录，包括交易合同和追加保证金通知详情。在您与enctrades建立关系期间，我公司也将收集向您提供的产品和服务的相关信息。我公司依法收集信息，以识别和验证您的身份。您的个人信息将严格按照相应国家的《隐私法》的隐私原则处理。</p>

				<h3>电话通话</h3>

				<p>enctrades可记录您与enctrades工作人员之间的通话。上述记录或记录抄本可用于解决您与enctrades之间的任何争议。</p>

				<h3>enctrades网站</h3>

				<p>
					我公司收集关于公司网站访客的统计信息，例如：访客人数、查看的网页、交易类型、在线时间及下载的文件。该信息可用于评价并提升公司网站的性能。除了统计信息，我公司不会通过公司网站收集您的任何信息，除非您向我公司提供此类信息。</p>

				<p>
					同时请注意，公司网站使用Cookie。Cookie是少量的数据，通常包括从网站计算机发送至客户浏览器并存储在客户计算机硬盘中的唯一识别号码或值。如果您的浏览器允许，每个网站均可将其Cookie发送至您的浏览器。不过，为了保护您的隐私，您的浏览器只允许网站访问其发送至您计算机的Cookie。</p>

				<p>
					在网站上使用Cookie时，除了方便您访问自己的联机账户外，Cookie也用于收集上述统计信息。访问联机账户时，系统将创建唯一识别客户计算机及其用户名和密码的Cookie。这意味着您无需在每次访问联机账户时重新输入这些信息。</p>

				<p>
					大部分互联网浏览器都设置为接受Cookie。如果您不希望接收Cookie，可更改浏览器设置，拒绝所有Cookie或设置计算机在每次对方发送Cookie时发出通知，从而选择是否接受。如果拒绝所有Cookie，您将无法访问联机账户。您也可以在Cookie创建后从计算机中将其删除。</p>

				<h3>enctrades对信息的使用</h3>

				<p>
					需要客户填写开立账户申请表中的所需信息，以便我公司为您提供服务。上述信息以及双方建立关系期间，enctrades收集和维护的信息用于管理和掌控向您提供的产品和服务，以及向您提供各类事务的最新信息，包括交易合同、保证金义务、账户资金以及enctrades的其他活动。我公司也可使用您的个人信息了解您可能感兴趣的enctrades产品和服务，并向您推销此类产品和服务。</p>

				<h3>enctrades也可将您的个人信息披露给：</h3>

				<p>* 在公司活动中与enctrades有往来的金融机构和其他类似组织，或您指定的机构；<br> *为我公司提供服务的外部服务商和专业顾问（可位于海外）；以及您所要求的组织或代表您行事的人士，包括您的财务顾问、经纪人、律师或会计。
					<br> * 不定时向美国、新西兰或其他国家的监管和政府机构披露；以及enctrades公司及其关联机构。<br> * enctrades全权负责保护您的个人信息不被滥用、丢失、未授权访问、修改或泄露。</p>

				<h3>您有哪些权利</h3>

				<p>
					您不必提供enctrades所要求的任何个人信息。但如果没有上述信息，在申请表需要该信息的情况下enctrades将无法为您开立账户，或提供您所要求的任何其他服务、信息或帮助。如对您的隐私有任何疑问或需要投诉，请联系我们。如果对enctrades的投诉处理不满意，您可向隐私专员投诉。</p>

				<h3>客户访问信息</h3>

				<p>
					客户可致电我们获取enctrades所持有的该客户的信息。我们通常将在14天内处理您的请求。如果请求较复杂，则需要更多时间，我们会通知您所需要的额外时间。信息访问请求无需任何费用，但enctrades会向您收取处理请求的合理费用。在有些情况下，enctrades可依法拒绝您访问此类信息。在这种情况下，我们会向您说明拒绝访问的原因。</p>

				<h3>信息更正</h3>

				<p>
					如果enctrades所持个人信息有任何改动，请及时通知我们，以确保您的个人信息为最新信息，且便于我们随时通知您的账户情况、保证金义务及交易活动。您可以随时要求我们更正enctrades持有的您认为不准确的个人信息。如我们与您对信息的准确性意见不一致，您可以要求我们附上声明，指出您认为这是不准确或不完整的。</p>

				<h3>接收商业电子邮件</h3>

				<p>
					访问本网站即同意我公司向您提供或您负责的任何电子地址发送商业电子邮件（包括关于我公司产品和服务的邮件）。您保证拥有作为或代表电子账户持有人的权限，同意上述事项，直到您向我公司发出书面通知或使用邮件中的退订功能撤销上述同意书，在此之前我公司可继续向上述地址发送商业电子邮件。</p>

				<h3>您的同意书</h3>

				<p>通过访问本网站，您同意enctrades收集、维护、使用及公开您本人或上述其他人提供的个人信息。</p>

				<h3>隐私声明的修订</h3>

				<p>enctrades可出于任何原因不时更改该隐私声明。</p>

				<p>网站可随时更改其信息、材料和内容而毋须发出通知。我们也可更新有关页面以便随时更改本使用条款而毋须发出通知。您同意定期浏览网站本节的内容。您在任何时间登录或使用网站，即表示您同意使用条款的最新刊登版本。</p>

				<p>本使用条款的若干条文可被法律或监管通知或在网站特定页面或网站可供下载材料所载的条款所修订或取代。</p>
			</div>
		</div>
		<!-- 底部导航 -->
		
		<script type="text/javascript">
			$(document).ready(function() {
				//底部导航
				$('.bottom-nav li').click(function() {
					$(this).addClass("butcour").siblings().removeClass("butcour");
				})
			});
		</script>

	</body>

</html>