<!DOCTYPE html>
<html style="font-size: 129.375px;">
<head>
    <meta charset="utf-8">
    <title>{$result.n_title}</title>
    <meta name="keywords" content="B.Kingencrade,B.King,安信encrade,合约交易,秒合约">
    <meta name="description" content="資產 客服及出金調整問題">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="x5-fullscreen" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <link href="/index/css/index_for.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/index/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/index/js/touchSlider.js"></script>
    <script type="text/javascript" src="/index/js/index.js"></script>
</head>
<body style="background:#262b3e;">
<div class="inner-head">
    <a href="javascript:history.go(-1)">
        <img class="return_img" src="/index/images/gg-icon13.png">
    </a>
    最新公告
</div>
<div class="withdrawal-ins">
    <div class="path">
        <div class="vert"></div>
        <span class="bold">正文</span>
        <div class="clear"></div>
    </div>
    <div class="step-box">
        <div class="n_title">{$result.n_title}</div>
        <div class="time"><span>来源：{$result.n_source}</span><span>发表日期：{$result.n_time|date='Y-m-d',###}</span></div>
        <div class="content" style="font-size:14px;">{$result.content}</div>
    </div>
</div>
{include file="foot" /}