{include file="head" /}

{include file="menu" /}

<!--main content start-->
      <section id="main-content">
          <section class="wrapper">
            <br>
            <div class="row state-overview">
            <form action="" method="get">
              <div class="col-lg-3 mar-10">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">分组名称</span>
                    <input type="text"  name="title"  class="form-control" value="{$getdata.title?$getdata.title:''}" placeholder="分组名称/分组编号"/>
                </div>
              </div>
              </div>
              <div class="col-lg-6 mar-10">
               <input type="submit" class="btn btn-success" value="搜索">
              </div>
            </form>
            </div>
             <div class="row">
                  <div class="col-lg-8">
                      <section class="panel">
                          <header class="panel-heading">
                              <h4 class="left">权限分组列表</h4>
                              <a href="{:url('system/groupadd')}"><button type="button" class="btn btn-primary right">添加分组</button></a>
                              <br><br>
                          </header>
                          <table class="table table-striped table-advance table-hover">
                            <thead class="ordertable">
                              <tr>
                                <th width="10%">编号</th>
                                <th>分组名称</th>
                                <th width="10%">显示</th>
                                <th width="15%">操作</th>
                            </tr>
                          </thead>
                           <form action="" method="post">
                          <tbody>
                              <!-- {volist name="grouplist" id="vo"} -->
                              <tr>
                                  <td width="10%">{$vo.id}</td>
                                  <td>{$vo.title}</td>
                                  <td width="10%">{if $vo.status eq 1}<img style="width: 16px;height: 16px;cursor: pointer;" src="/static/admin/img/success.png" onclick="groupstatus({$vo.id},$(this))" />{else}<img  style="width: 16px;height: 16px;cursor: pointer;" src="/static/admin/img/error.png" onclick="groupstatus({$vo.id},$(this))" />{/if}</td>
                                  <!-- check-on -->
                                  <td width="15%">
                                      <a class="btn btn-primary btn-xs" href="{:url('system/groupadd',array('id'=>$vo['id']))}" title="点击编辑"><i class="icon-pencil"></i></a>
                                      <a class="btn btn-danger btn-xs" onclick="deleteinfo('{$vo.id}')" title="点击删除"><i class="icon-trash"></i></a>
                                  </td>
                              </tr>
                              <!-- {/volist} -->
                              </tbody>
                          </table>
                      </section>
                      {$grouplist->render()}
                  </form>
                  </div>
              </div>
              
             

          </section>
      </section>
      <!--main content end-->
  </section>

{include file="foot" /}
<script>
$('#datetimepicker').datetimepicker();
$('#datetimepicker_end').datetimepicker();
  function deleteinfo(id){
    layer.open({
      content: '确定删除吗',
      yes: function(index){
        var url = "{:url('system/groupdel')}"+"?id="+id;
        var locurl = "{:Url('admin/system/grouplist')}";
        WPget(url,locurl);
      }
    });
  }

  function groupstatus(id,obj){
    $.ajax({
      type:"post",
      url:"{:url('system/groupstatus')}",
      data:{
        id:id
      },
      dataType:'JSON',
      async:false,
      beforeSend: function(){
      },
      success:function(msg){
        if(msg.state == 'success'){
          if(msg.status == 0){
            obj.attr("src","/static/admin/img/error.png");
          }else{
            obj.attr("src","/static/admin/img/success.png");
          }
        }else{
          return false;
        }
      },
      error:function(){
          layer.msg("网络出错..",{time:2*1000});
      }
    });
  }
</script>