body{background-color: #1c242c!important;}
.zc-div7 {background-color: inherit;}
.zc-div7>input {border: 1px solid #cad7e0;}
.zc-div1>p{color: #FFFFFF;}
.zc-p1{color: #FFFFFF;}
.zc-div10>div:nth-child(1) { border: 1px solid #cad7e0; background-color: inherit;}
.zc-div10>div:nth-child(2) {background-color: #7a98f7;}
.zc-div10>div:nth-child(2)>a {color: #FFFFFF;}
.zc-rageh-div1>p {color: #FFFFFF;}
.zc-div7>input {color: #FFFFFF;}
.zc-div10>div:nth-child(1)>input {color: #FFFFFF;}