.protitle{color: #FFFFFF;}
.zuoyouhezis {background-color: #000033;}
.mhyjyxx-a{background-color: #000033!important;}
body{background-color: #000033!important;}
.xiaheziyi {background-color: #000033;}
.zuost>span{color: #FFFFFF!important;}
.hezihezi{color: #FFFFFF;}
.zuoyouhezit a {color: #FFFFFF;}
.mvtsv {background-color: #000033!important;}
.mvtso {background-color: #000033!important;}
.tysvuss {background-color: #000033!important;}
.tysvuss {background-color: #000033!important;}
.tysvuss {background-color: #000033!important;}
.xiaodaohang{background-color: #000033!important; }
.xuantingli:hover{background: #666666!important;}
.shujujtt {color: #FFFFFF;}
.youdaohangl {background-color: #000033;}
.youdahe {background-color: #000033;}
.kkhu>span{color: #FFFFFF!important;}
.zuihoumianhe {background-color: #16263e;}
button { color: #FFFFFF;  background-color: #00a0e9; border-color: #00a0e9!important;}
.dropdown-contentstss {background-color: #000033;}
.dropdown-contentstss a {color: #FFFFFF}
.dropdown-contentstss a:hover{background-color: #666;}
.dropdown-contentvu {background-color: #000033;}
.dropdown-contentvu a{color: #FFFFFF;}
.dropdown-contentvu a:hover{background-color: #666666;}
.liangghezis {color: #FFFFFF;}
input {background-color: #16263e; color: #FFFFFF;}
.hezihezi {border-bottom: 1px solid #6666667a;}
.shujujtt{border-bottom: 1px solid #cdd9e24f!important;border-top: 1px solid #cdd9e24f!important;}
#buy_amount{border: 1px solid #666666!important;}
#sell_amount{border: 1px solid #666666!important;}
#buy_price{border: 1px solid #666666!important;}
#sell_price{border: 1px solid #666666!important;}
.mhyjyxx-a i{color: #fff!important;}