body{background-color: #000000;}
.wodehezi {background-color: #000000;}
.zuohung {background-color: #000033;}
.shakod { color: #FFFFFF; background-color: #16263e;}
.shakod:hover{background: #666!important;}
.hsjka>a{color: #FFFFFF!important;}
.hhhsha {background-color: #000033;}
.dazihh {background-color: #16263e;}
#keyword{color: #FFFFFF;}
.bbjyss>i{color:  #FFFFFF!important;}
.youhjik {background-color: #000033;}
.protitle{ color: #FFFFFF;  background-color: #16263e!important;}
.ssxsz {background-color: #16263e!important;}
.shjaksba{color: #FFFFFF!important;}
.shjaksba>span{color: #FFFFFF!important;}
.bhsgdav {background-color: #000033;}
.kongxiaohell {background-color: #000033;}
.xiaokonglan{background-color: #000033!important;}
.shadbuyt { color: #FFFFFF; background-color: #16263e;}
.shajshba>span{color: #FFFFFF!important;}
.zuoshng {background-color: #16263e;}
.shajshba{background-color: #16263e!important;}
.nbfjhsb {background-color: #000033;}
.lixinli {background-color: #16263e;}
.lixinli a {color: #757575;}
.bibi_kai a {color: #FFFFFF;cursor: pointer;}
.juexink span{color: #FFFFFF!important;}
.bibi_mairu {color: #FFFFFF;}
.mbbjysrk>input{ color: #FFFFFF; background-color: inherit!important;}
.daohangkung {background-color: #000033;}
.daohangkung span {background-color: #16263e;}
.zuihoudajib{background-color: #16263e;}
.mbbjydiv1{background-color: #16263e!important;}
.zuihoudajib{border-left: 2px solid#000033;}
.juexink:nth-child(1){border-bottom: 1px solid #666666e0!important;}
