body{background-color: #000000!important;}
.wk-whole-two {background-color: #16263e;}
.wk-whole-div0>p:nth-child(1) {color: #FFFFFF;}
.wk-whole-div1>input { color: #FFFFFF; padding-left: 2%; background-color: inherit; border: 1px solid #666666; border-right: inherit;}
.wk-whole-div1>div {background-color: inherit; border: 1px solid #666666; border-left: inherit;}
.wk-whole-div1{color: #FFFFFF;}
.wk-whole-p2{color: #FFFFFF;}
.wk-whole-div2>span:nth-child(1) {color: #FFFFFF;}
.wk-whole-div2>span{color: #FFFFFF;}
.wk-whole-div3{color: #FFFFFF;}
.wk-bibu{background-color: #16263e;}
.wk-bottom-top>p {color: #FFFFFF;}
.wk-bottom-div1>span {background-color: #000033;}
.wk-bottom-div2>span {color: #FFFFFF!important;}
.wk-bottom-top {border-bottom: 1px solid #99999936;}
























