.mhy-right-div1 {background-color: #000033;}
.mhy-right-div1>div:nth-child(1)>ul>li>a {color: #FFFFFF;}
.mhy-right-div1>div:nth-child(2)>div>p {color: #FFFFFF;}
.mhy-right-div3 {background-color: #000033;}
.done_div{color: #FFFFFF;}
.daojs_div{color: #FFFFFF;}
.mhy-left-top {background-color: #1c242c;}
.mhy-left-top p{color: #FFFFFF;}
.mhy-left-tow {background-color: #1c242c;}
.mhy-left-tow p{color: #FFFFFF;}
.mhy-right-div3-div1-div1>span {color: #FFFFFF;}
.vuxn{color: #FFFFFF;}
.mhy-left-six>input {  color: #FFFFFF; background-color: #000000; border: 1px solid #666666; border-radius: 3px;}