body{background-color: #000033;}
.xgm-top>p {color: #FFFFFF;}
.xgm-two>p {color: #FFFFFF;}
.xgm-two>input { color: #FFFFFF; background-color: initial; }
.jiohjhs input { color: #FFFFFF; background-color: initial;}
.gjkghgs{cursor: pointer;}
.qsz-yzm>input { background-color: initial;}