body{background-color: #000000!important;}
.zhsz-left {background-color: #1c242c!important;}
.zhsz-right {background-color: #1c242c;}
.jyrz-top>span {color: #FFFFFF;}
.jyrz-whole>ul>li>span {color: #FFFFFF;}
a{color: #FFFFFF;}
.jyrz-top {border-bottom: 1px solid #666;}
.jyrz-whole>ul>li {border-bottom: 1px solid #6666668a;}