body{background-color: #000000!important;}
.zhsz-left {background-color: #1c242c!important;}
.zhsz-right {background-color: #1c242c;}
.sfrz-div1 {color: #FFFFFF;}
.sfzr-div2>div>span {color: #FFFFFF;}
.sfzr-div2>div>input {color: #FFFFFF;}
.sfzr-div3 {color: #FFFFFF!important;}









