.daneir {background-color: #000033;}
.kongwu {background-color: #000033;}
.zhongneir {background-color: #1c242c!important;}
.zhuliusvt {border: none;}
.sanuq a {color: #FFFFFF;}
.zhuliuugh { color: #FFFFFF; background-color: #666666; border: inherit;}
.dashuju{ color: #FFFFFF; background-color: #1c242c!important;}