body{background-color: #000000!important;}
.bi-two {background-color: #16263e;}
.bi-two>div {color: #FFFFFF;}
.bi-content {background-color: #16263e;}
.bi-shujv {background-color: #16263e;}
.bi-shujv-top>p {color: #FFFFFF;}
.bi-shujv-top>div>div {color: #FFFFFF;}
.bi-shujv-jilvl>ul>li>div {color: #FFFFFF;}
.bi-shujv-jilvl>ul>li {border-bottom: 1px solid #000033;}
.bi-cb-tc {background-color: #1c242c;}
.bi-cb-tc-div3>div>div>input {color: #FFFFFF;}
.bi-cb-tb {background-color: #1c242c;}
.bi-cb-tb-div1>input {color: #FFFFFF;}
.bi-cb-tb-div2>div>div>input {color: #FFFFFF;}
.bi-cb-tb-div2>div>div>div {width: 20% !important;}
.bi-content>a>div {color: #9ca9b5;}
.bi-cb-tc{border: 1px solid #1c242c;}
.bi-cb-tb{border: 1px solid #1c242c;}
.mcbtc{background-color: #1c242c!important;}