<script>
    var fbjy_qsrgmje="{$Think.lang.fbjy_qsrgmje}";

    var fbjy_qsrgmdjebnxy="{$Think.lang.fbjy_qsrgmdjebnxy}";
    var fbjy_qsrgmsl="{$Think.lang.fbjy_qsrgmsl}";
    var fbjy_qsrgmdbnxy="{$Think.lang.fbjy_qsrgmdbnxy}";
    var fbjy_ckdj="{$Think.lang.fbjy_ckdj}";
    var rt_qrtj="{$Think.lang.rt_qrtj}";
    var jse_qxzzffs="{$Think.lang.jse_qxzzffs}";

    var fbjy_qsrgmslje="{$Think.lang.fbjy_qsrgmslje}";
    var fbjy_qsrcsslhje="{$Think.lang.fbjy_qsrcsslhje}";
    var fbjy_srcsdslhjebnxyl="{$Think.lang.fbjy_srcsdslhjebnxyl}";
    var fbjy_qsrgmslhje="{$Think.lang.fbjy_qsrgmslhje}";
    var fbjy_qsrgmdslhjebn="{$Think.lang.fbjy_qsrgmdslhjebn}";
    var fbjy_djzy="{$Think.lang.fbjy_djzy}";
    var fbjy_zwzffs="{$Think.lang.fbjy_zwzffs}";


    var fbjy_qxzskfs="{$Think.lang.fbjy_qxzskfs}";
    var fbjy_qsrcssl="{$Think.lang.fbjy_qsrcssl}";
    var fbjy_srcsdslbnxyh="{$Think.lang.fbjy_srcsdslbnxyh}";
    var fbjy_qsrcsjesl="{$Think.lang.fbjy_qsrcsjesl}";
    var fbjy_sqcsdjebnxy="{$Think.lang.fbjy_sqcsdjebnxy}";
    var fbjy_zdksw="{$Think.lang.fbjy_zdksw}";
    var fbjy_qtxyzm="{$Think.lang.fbjy_jfsyzmdnn}";

    var fbjy_dj= "{$Think.lang.fbjy_dj}";
    var bi_sl= "{$Think.lang.bi_sl}";
    var fbjy_qxzqxdd= "{$Think.lang.fbjy_qxzqxdd}";
    var fbjy_wlcc= "{$Think.lang.fbjy_wlcc}";
    var fbjy_qqycqcs="{$Think.lang.fbjy_qqycqcs}";


    var  ue_sccg="{$Think.lang.ue_sccg}";
    var  fbjy_cdl="{$Think.lang.fbjy_cdl}";
    var  sw_gm="{$Think.lang.sw_gm}";
    var  fbjy_cs="{$Think.lang.fbjy_cs}";
    var  fbjy_qtxje="{$Think.lang.fbjy_qtxje}";
    var  fbjy_txsl="{$Think.lang.fbjy_txsl}";
    var fbjy_nhwtjskfs="{$Think.lang.fbjy_nhwtjskfs}";
    var fbjy_qrjjfx="{$Think.lang.fbjy_qrjjfx}";
    var fbjy_bl="{$Think.lang.fbjy_bl}";
    var bi_qd="{$Think.lang.bi_qd}";
    var fbjy_jjcg="{$Think.lang.fbjy_jjcg}";
    var fbjy_qdjwyqr="{$Think.lang.fbjy_qdjwyqr}";
    var fbjy_mjqxdd="{$Think.lang.fbjy_mjqxdd}";
    var fbjy_qrqxdd="{$Think.lang.fbjy_qrqxdd}";
    var fbjy_ddysx="{$Think.lang.fbjy_ddysx}";
    var fbjy_ppddh="{$Think.lang.fbjy_ppddh}";
    var fbjy_gqddh="{$Think.lang.fbjy_gqddh}";
    var fbjy_ddh="{$Think.lang.fbjy_ddh}";
    var fbjy_wcj="{$Think.lang.fbjy_wcj}";
    var fbjy_cssl="{$Think.lang.fbjy_cssl}";
    var fbjy_csje="{$Think.lang.fbjy_csje}";
    var fbjy_gmsl="{$Think.lang.fbjy_gmsl}";
    var fbjy_gmje="{$Think.lang.fbjy_gmje}";
    var fbjy_scpz ="{$Think.lang.fbjy_scpz}";
    var fbjy_qewc ="{$Think.lang.fbjy_qewc}";
    var cd_fzcg='{$Think.lang.cd_fzcg}';
    var cd_fzsb='{$Think.lang.cd_fzsb}';
    var cd_hqz='{$Think.lang.cd_hqz}';
    var bibi_qsrczsl='{$Think.lang.bibi_qsrczsl}';
    var fbjy_qxzcbfs='{$Think.lang.fbjy_qxzcbfs}';
    var fbjy_qscpz='{$Think.lang.fbjy_qscpz}';
    var ue_scsbqcs='{$Think.lang.ue_scsbqcs}';
    var cb_tjcg='{$Think.lang.cb_tjcg}';
    var bi_qx = "{$Think.lang.bi_qx}";
    var sl_ywc ="{$Think.lang.sl_ywc}";
    var isdelete_confirm = "{$Think.lang.isdelete_confirm}";

    var fbjy_ddmjqrsk ="{$Think.lang.fbjy_ddmjqrsk}";

</script>