<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title> 双人半价商城-双人半价商城</title>
	<meta name="keywords" content=" 双人夺宝,公开,透明,实时结算"/>
    <meta name="description" content=" 双人夺宝,公开,透明,实时结算,好玩……"/>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/swiper.min.css">
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/base.js?v=1517645228"></script>
</head>
<style type="text/css">
	body{
		max-width: 640px;
		margin: 0 auto;
	}

</style>

<style type="text/css">
	.mode_ul .dts{
		height: 100px;
		line-height: 100px
	}
	.center_mode .mode_ul li .top_dt{
		margin-top: 0
	}
</style>

<body style="background: #e6dfff;">
	<div id="index_box">
	<!--  通知-->
		<header>
			<div class="back">首页</div>
			<span><a href="/meiri.html"> <img src="images/sign.png" alt=""></a> </span>
		</header>
	<!-- 轮播图 -->
		<div class="banner-box">
			<div class="swiper-container">
		    	<div class="swiper-wrapper">
		    					       	 <dl class="swiper-slide"  onclick="location.href='http://www.szshuangren.com/article/41'" >
			            <img src="/upload/adspic/2018-01/5a7055f734c89.jpg" alt="">
			        </dl>
			        			       	 <dl class="swiper-slide"  onclick="location.href='http://www.szshuangren.com/article/40'" >
			            <img src="/upload/adspic/2018-01/5a7032b357776.jpg" alt="">
			        </dl>
			        			       	 <dl class="swiper-slide"  onclick="location.href='http://www.szshuangren.com/article/36'" >
			            <img src="/upload/adspic/2018-01/5a699bda0a2da.jpg" alt="">
			        </dl>
			        			       	 <dl class="swiper-slide"  onclick="location.href='http://szshuangren.com/article/39'" >
			            <img src="/upload/adspic/2018-01/5a699cf7e4dd4.png" alt="">
			        </dl>
			        			       	 <dl class="swiper-slide"  onclick="location.href='http://www.szshuangren.com/article/35'" >
			            <img src="/upload/adspic/2018-01/5a697da72c1e2.jpg" alt="">
			        </dl>
			        		        
		    </div>
		    <div class="swiper-pagination"></div>
			</div>
		</div>
<!-- end -->
		<div class></div>
		<div class="center">
			<ul class="center_ul">
				<a href="/paihang.html">
				<li>
					<dt><img src="images/ranking_list.png" alt=""></dt>
					<dt>排行榜</dt>
				</li>
				</a>
				<a href="javascript:alert('暂未开放');">
				<li>
					<dt><img src="images/integral_mall.png" alt=""></dt>
					<dt>积分商城</dt>
				</li>
				</a>
				<a href="/alist.html">
				<li>
					<dt><img src="images/activity_zone.png" alt=""></dt>
					<dt>活动专区</dt>
				</li>
				</a>
			</ul>
		</div>
        <div class="center_mode">
        	<ul class="mode_ul">

				<li>
					<dt class="dts right_bule" onclick="location.href='/playId/2'"><img src="images/single_double.png" alt=""></dt>
					<dt onclick="location.href='/playId/2'">单双模式</dt>
					<dt class="bottom_bule" onclick="location.href='/desc/2'">查看游戏攻略</dt>
				</li>
				<li>
					<dt onclick="location.href='/playId/1'" class="dts" ><img src="images/size_moudle.png" alt=""></dt>
					<dt onclick="location.href='/playId/1'">大小模式</dt>
					<dt onclick="location.href='/desc/1'" class="bottom_bule" style="margin-top: 2px;">查看游戏攻略</dt>
				</li>
				<li>
					<dt onclick="location.href='/playId/3'" class="dts right_bule top_dt"><img src="images/tiger.png" alt=""></dt>
					<dt onclick="location.href='/playId/3'">龙虎模式</dt>
					<dt onclick="location.href='/desc/3'">查看游戏攻略</dt>
				</li>
				<li>
					<dt onclick="location.href='/playId/4'" class="dts"><img src="images/ten_people.png" alt=""></dt>
					<dt onclick="location.href='/playId/4'">十人模式</dt>
					<dt onclick="location.href='/desc/4'" class=" " style="margin-top: 2px;">查看游戏攻略</dt>
				</li>
				<!-- <li>
					<dt class="top_dt"><img src="images/ten_people.png" alt=""></dt>
					<dt>十人模式</dt>
					<dt>查看游戏攻略</dt>
				</li> -->
        	</ul>
        </div>
        <div class="new_fightalone">
			<dl><img src="images/icon_egg.png" alt=""></dl>
			<dl>
				<dt>拼单模式</dt>
				<dt>有钱大家赚，多人拼单更划算！</dt>
				<dt><a href="javascript:alert('暂未开放');" style="color:red">查看游戏攻略</a></dt>
				<dt class="top_leftpic"><img src="images/new.png" alt=""></dt>
			</dl>
        </div>






<script>
/* 轮播图调用*/
var mySwiper = new Swiper('.swiper-container',{
  loop: true,
  autoplay: 3000,
  pagination: '.swiper-pagination',
  autoplayDisableOnInteraction: false,
});
</script>

 <footer>
			<ul class="footer_pho">
				<li>
					<a href="/">
												<dt><img src="images/news_select.png" alt=""></dt>
						<dt style="color:#a57afa">首页</dt>
											</a>
				</li>
				<li>
					<a href="/ssclist.html">
												<dt><img src="images/record_normal.png" alt=""></dt>
						<dt>最新记录</dt>
											</a>
				</li>
				<li>
					<a href="/kefu.html">
												<dt><img src="images/chat_normal.png" alt=""></dt>
						<dt>客服中心</dt>
											</a>
				</li>
				<li>
					<a href="/users.html">
												<dt><img src="images/user_normal.png" alt=""></dt>
						<dt>用户中心</dt>
											</a>
				</li>
			</ul>
			
        </footer>
	</div>

</body>
</html>