<!DOCTYPE html>
{include file="nodejs" /}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B.King</title>
    <link href="/index/css/mango.css" rel="stylesheet" media="screen">
    <link href="/index/css/pftsagh.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="/static/index/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/index/js/lk/user.js"></script>
    <script type="text/javascript" src="/static/public/js/jquery.base64.js"></script>
    <script src="/static/layer/layer.js"></script>
</head>
<body>
<style>
    a{text-decoration:none}
</style>
{include file='daohang'/}
<div class="zui-da">
    <div class="zui-xiahezi xh_flex xh_align_center">
        <a href="/wap/index/jiaoyichicang.html?ostaus=2"><div> <p {if $ostaus == 2} class="active" {/if}>{$Think.lang.ll_wtz}<span></span></p></div></a>
        <a href="/wap/index/jiaoyichicang.html?ostaus=0"><div class="ugdsu"><p {if $ostaus == 0} class="active" {/if}>{$Think.lang.ll_jyz}<span></span></p></div></a>

            <a href="/wap/index/jiaoyichicang.html?ostaus=1"><div class="tftyk"><p {if $ostaus == 1} class="active" {/if}>{$Think.lang.ll_ypc}<span></span></p></div></a>
                <a href="/wap/index/jiaoyichicang.html?ostaus=3"><div><p {if $ostaus == 3} class="active" {/if}>{$Think.lang.jycc_ycd}<span></span></p></div></a>
    </div>
<!--    <div class="hutujis xh_flex xh_align_center xh_justify_between">
        <span style="width: 10%">类型</span><span>开仓价</span><span>当前价</span><span>止盈价</span><span>止损价</span><span>保证金</span><span>可用保证金</span><span style="width: 12%">开仓时间</span><span>手续费</span><span>隔月费</span><span>盈亏</span><span>状态</span></div>
    <div class="jionmr xh_flex xh_align_center xh_justify_between" style="border: none">
        <span style="width: 10%">Buy/BTC/USDTx2</span><span>46752.2000</span><span>12345.9900</span><span>0.0000</span><span>0.0000</span><span>1870.0880</span><span>1870.0880</span><span style="width: 12%">2021-08-26 15:14:20</span><span>74.8035</span><span>0.0000</span><span style="color: #d74e5a">-4.4200</span><span>已平仓</span></div>
    <div class="jionmr xh_flex xh_align_center xh_justify_between" style="border: none">
        <span style="width: 10%">Sell/BTC/USDTx2</span><span>46752.2000</span><span>12345.9900</span><span>0.0000</span><span>0.0000</span><span>1870.0880</span><span>1870.0880</span><span style="width: 12%">2021-08-09 17:13:24</span><span>74.8035</span><span>0.0000</span><span style="color: #00c087">2670.1100</span><span>已平仓</span></div>
-->
    <div class="pkolesca xh_flex xh_align_center xh_justify_between">
        <span>{$Think.lang.le_lx}</span>
        <span>{$Think.lang.sl_bz}</span>
        <span>{$Think.lang.or_kcj}</span>
        <span>{$Think.lang.or_dqj}</span>
        <span>{$Think.lang.or_zyj}</span>
        <span>{$Think.lang.or_zsj}</span>
        <span>{$Think.lang.or_bzj}</span>
        
         <span>{$Think.lang.or_jyl}</span>
         <span>{$Think.lang.or_gg}</span>
         
<!--        <span>可用保证金</span>-->
        <span style="width: 12%">{$Think.lang.or_kcsj}</span>
        
      {if $ostaus == 1}
         <span style="width: 12%">{$Think.lang.ll_pcsj}</span>
         {/if} 
        
        <span>{$Think.lang.or_sxf}</span>
<!--        <span>隔月费</span>-->
        <span>{$Think.lang.hl_yk}</span>

        <span>{$Think.lang.le_cz}</span></div>
 <!--   <div class="pkjiaoyiz xh_flex xh_align_center xh_justify_between" style="border: none">
        <span style="width: 10%">Buy/BTC/USDTx2</span>
        <span>46752.2000</span>
        <span>12345.9900</span>
        <span>0.0000</span>
        <span>0.0000</span>
        <span>1870.0880</span>
        <span>1870.0880</span>
        <span style="width: 12%">2021-08-26 15:14:20</span>
        <span>74.8035</span><span>0.0000</span>
        <span style="color: #d74e5a">-4.4200</span>
        <span>交易中</span>
        <span class="opyugo">平仓</span>
    </div>
-->
    {volist name='hold' id='vo'}
    <div class="pkjiaoyiz xh_flex xh_align_center xh_justify_between" style="border: none">
        <span {if $vo.ostyle == 1} style="color:green" {else/}style="color:red"{/if}>{$vo.fangxiang}</span>
        <span>{$vo.name}</span>
        <span>{$vo.buyprice}</span>
        <span>{$vo.nowprice}</span>

        <span>{$vo.stopwin_price}</span>
        <span>{$vo.stoploss_price}</span>
        <span>{$vo.fee}</span>
        
        <span>{$vo.chicang}</span>
        
        <span>{$vo.code}</span>
        <span style="width: 12%">{$vo.kctime}</span>
        {if $vo.ostaus == 1}
        <span style="width: 12%">{$vo.pctime?$vo.pctime:''}</span>
        {/if} 
        
        <span>{$vo.sx_fee}</span>

        <span style="color: #d74e5a">{$vo.ploss}</span>

        {if $vo.ostaus == 2}
        <span class="opyugo" onclick="bt_cd('{$vo.oid}')">{$Think.lang.ll_cd}</span>
        {elseif $vo.ostaus == 0}
        <span class="opyugo" onclick="sell_order('{$vo.oid}')">{$Think.lang.le_pc}</span>
        {else/}
        <span  ></span>
        {/if}
    </div>
    {/volist}
    {$pages}
<!--    <div class="pkjiaoyiz xh_flex xh_align_center xh_justify_between" style="border: none">-->
<!--        <span style="width: 10%">Sell/BTC/USDTx2</span><span>46752.2000</span><span>12345.9900</span><span>0.0000</span><span>0.0000</span><span>1870.0880</span><span>1870.0880</span><span style="width: 12%">2021-08-09 17:13:24</span><span>74.8035</span><span>0.0000</span><span style="color: #00c087">2670.1100</span><span>交易中</span><span class="opyugo">平仓</span></div>-->
</div>


<script>
    $(function () {
        $(".neirongji p").click(function () {
            $(".neirongji p").removeClass('active');
            $(this).addClass('active');
        })
    });
    function bt_cd(id){
        layer.confirm('{$Think.lang.bi_qdycxm}', {
            btn: ['{$Think.lang.bi_qd}','{$Think.lang.bi_qx}'] //按钮
        }, function(){


            $.ajax({
                type:'POST',
                url:'/index/goods/free_orderlever',
                data:{id:id},
                success: function(msg){
                    var msg = eval("(" + msg + ")");
                    if(msg.error){
                        layer.msg(msg.error);
                    }
                    if(msg.success){
                        layer.msg('{$Think.lang.bi_cxcg}', {icon: 1});

                        setTimeout(function () {

                            window.location.reload();

                        }, 1000);

                    }
                }
            })


        }, function(){

        });

    }
    function sell_order(id){

        layer.confirm('{$Think.lang.le_qdypcm}', {
            btn: ['{$Think.lang.bi_qd}','{$Think.lang.bi_qx}'] //按钮
        }, function(){
            $.ajax({
                type:'POST',
                url:'/index/api/free_order',
                data:{id:id},
                success: function(msg){
                    var msg = eval("(" + msg + ")");
                    if(msg.error){
                        layer.msg(msg.error);
                    }
                    if(msg.success){
                        layer.msg('{$Think.lang.le_pccg}', {icon: 1});

                        setTimeout(function () {

                            window.location.reload();
                        }, 1000);

                    }
                }
            })
        }, function(){

        });

    }
</script>
<script>
    $(function () {
        $(".zui-xiahezi p").click(function () {
            $(".zui-xiahezi p").removeClass('active');
            $(this).addClass('active');
        })
    });
</script>

<script>
    // $(".jionmr").show();
    // $(".hutujis").show();
    // $(".pkolesca").hide();
    // $(".pkjiaoyiz").hide();
    $(".ugdsu>p").click(function(){
        // 类名是需要隐藏的div
        $(".jionmr").show();
        $(".hutujis").show();
        $(".pkolesca").hide();
        $(".pkjiaoyiz").hide();
    });
    $(".tftyk>p").click(function(){
        // 类名是需要隐藏的div
        $(".pkolesca").show();
        $(".pkjiaoyiz").show();
        $(".jionmr").hide();
        $(".hutujis").hide(); });
    // 类名是需要隐藏的div
    $(".huhuhus").show();
    $(".gugugus").show();
    // 点击的按钮
    $(".kjkjkj>a").click(function(){
        // 类名是需要隐藏的div
        $(".huhuhus").show();
        $(".gugugus").show();
    });
    $(".klklkl>a").click(function(){
        // 类名是需要隐藏的div
        $(".huhuhus").show();
        $(".gugugus").hide();
    });
    $(".kukuku>a").click(function(){
        // 类名是需要隐藏的div
        $(".zhuliuugh").show();
        $(".huhuhus").hide();
        $(".gugugus").hide();
    });
</script>
<script>
    var cssdropdown={
        disappeardelay: 250,
        disablemenuclick: false,
        enableswipe: 1,
        enableiframeshim: 1,
        dropmenuobj: null, ie: document.all, firefox: document.getElementById&&!document.all, swipetimer: undefined, bottomclip:0,

        getposOffset:function(what, offsettype){
            var totaloffset=(offsettype=="left")? what.offsetLeft : what.offsetTop;
            var parentEl=what.offsetParent;
            while (parentEl!=null){
                totaloffset=(offsettype=="left")? totaloffset+parentEl.offsetLeft : totaloffset+parentEl.offsetTop;
                parentEl=parentEl.offsetParent;
            }
            return totaloffset;
        },

        swipeeffect:function(){
            if (this.bottomclip<parseInt(this.dropmenuobj.offsetHeight)){
                this.bottomclip+=10+(this.bottomclip/10)
                this.dropmenuobj.style.clip="rect(0 auto "+this.bottomclip+"px 0)"
            }
            else
                return
            this.swipetimer=setTimeout("cssdropdown.swipeeffect()", 10)
        },

        showhide:function(obj, e){
            if (this.ie || this.firefox)
                this.dropmenuobj.style.left=this.dropmenuobj.style.top="-500px"
            if (e.type=="click" && obj.visibility==hidden || e.type=="mouseover"){
                if (this.enableswipe==1){
                    if (typeof this.swipetimer!="undefined")
                        clearTimeout(this.swipetimer)
                    obj.clip="rect(0 auto 0 0)"
                    this.bottomclip=0
                    this.swipeeffect()
                }
                obj.visibility="visible"
            }
            else if (e.type=="click")
                obj.visibility="hidden"
        },

        iecompattest:function(){
            return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
        },

        clearbrowseredge:function(obj, whichedge){
            var edgeoffset=0
            if (whichedge=="rightedge"){
                var windowedge=this.ie && !window.opera? this.iecompattest().scrollLeft+this.iecompattest().clientWidth-15 : window.pageXOffset+window.innerWidth-15
                this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetWidth
                if (windowedge-this.dropmenuobj.x < this.dropmenuobj.contentmeasure)
                    edgeoffset=this.dropmenuobj.contentmeasure-obj.offsetWidth
            }
            else{
                var topedge=this.ie && !window.opera? this.iecompattest().scrollTop : window.pageYOffset
                var windowedge=this.ie && !window.opera? this.iecompattest().scrollTop+this.iecompattest().clientHeight-15 : window.pageYOffset+window.innerHeight-18
                this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetHeight
                if (windowedge-this.dropmenuobj.y < this.dropmenuobj.contentmeasure){
                    edgeoffset=this.dropmenuobj.contentmeasure+obj.offsetHeight
                    if ((this.dropmenuobj.y-topedge)<this.dropmenuobj.contentmeasure)
                        edgeoffset=this.dropmenuobj.y+obj.offsetHeight-topedge
                }
            }
            return edgeoffset
        },

        dropit:function(obj, e, dropmenuID){
            if (this.dropmenuobj!=null)
                this.dropmenuobj.style.visibility="hidden"
            this.clearhidemenu()
            if (this.ie||this.firefox){
                obj.onmouseout=function(){cssdropdown.delayhidemenu()}
                obj.onclick=function(){return !cssdropdown.disablemenuclick}
                this.dropmenuobj=document.getElementById(dropmenuID)
                if(!this.dropmenuobj) return;
                this.dropmenuobj.onmouseover=function(){cssdropdown.clearhidemenu()}
                this.dropmenuobj.onmouseout=function(e){cssdropdown.dynamichide(e)}
                this.dropmenuobj.onclick=function(){cssdropdown.delayhidemenu()}
                this.showhide(this.dropmenuobj.style, e)
                this.dropmenuobj.x=this.getposOffset(obj, "left")
                this.dropmenuobj.y=this.getposOffset(obj, "top")
                this.dropmenuobj.style.left=this.dropmenuobj.x-this.clearbrowseredge(obj, "rightedge")+"px"
                this.dropmenuobj.style.top=this.dropmenuobj.y-this.clearbrowseredge(obj, "bottomedge")+obj.offsetHeight+1+"px"
                this.positionshim()
            }
        },

        positionshim:function(){
            if (this.enableiframeshim && typeof this.shimobject!="undefined"){
                if (this.dropmenuobj.style.visibility=="visible"){
                    this.shimobject.style.width=this.dropmenuobj.offsetWidth+"px"
                    this.shimobject.style.height=this.dropmenuobj.offsetHeight+"px"
                    this.shimobject.style.left=this.dropmenuobj.style.left
                    this.shimobject.style.top=this.dropmenuobj.style.top
                }
                this.shimobject.style.display=(this.dropmenuobj.style.visibility=="visible")? "block" : "none"
            }
        },

        hideshim:function(){
            if (this.enableiframeshim && typeof this.shimobject!="undefined")
                this.shimobject.style.display='none'
        },

        contains_firefox:function(a, b) {
            while (b.parentNode)
                if ((b = b.parentNode) == a)
                    return true;
            return false;
        },

        dynamichide:function(e){
            var evtobj=window.event? window.event : e
            if (this.ie&&!this.dropmenuobj.contains(evtobj.toElement))
                this.delayhidemenu()
            else if (this.firefox&&e.currentTarget!= evtobj.relatedTarget&& !this.contains_firefox(evtobj.currentTarget, evtobj.relatedTarget))
                this.delayhidemenu()
        },

        delayhidemenu:function(){
            this.delayhide=setTimeout("cssdropdown.dropmenuobj.style.visibility='hidden'; cssdropdown.hideshim()",this.disappeardelay)
        },

        clearhidemenu:function(){
            if (this.delayhide!="undefined")
                clearTimeout(this.delayhide)
        },

        startchrome:function(){
            for (var ids=0; ids<arguments.length; ids++){
                var menuitems=document.getElementById(arguments[ids]).getElementsByTagName("a")
                for (var i=0; i<menuitems.length; i++){
                    if (menuitems[i].getAttribute("rel")){
                        var relvalue=menuitems[i].getAttribute("rel")
                        menuitems[i].onmouseover=function(e){
                            var event=typeof e!="undefined"? e : window.event
                            cssdropdown.dropit(this,event,this.getAttribute("rel"))
                        }
                    }
                }
            }
            if (window.createPopup && !window.XmlHttpRequest){
                document.write('<IFRAME id="iframeshim"  src="" style="display: none; left: 0; top: 0; z-index: 90; position: absolute; filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)" frameBorder="0" scrolling="no"></IFRAME>')
                this.shimobject=document.getElementById("iframeshim")
            }
        }

    }
</script><script type="text/javascript">cssdropdown.startchrome("navMenu")</script>
<script>
    var cssdropdowns={
        disappeardelay: 250,
        disablemenuclick: false,
        enableswipe: 1,
        enableiframeshim: 1,
        dropmenuobj: null, ie: document.all, firefox: document.getElementById&&!document.all, swipetimer: undefined, bottomclip:0,

        getposOffset:function(what, offsettype){
            var totaloffset=(offsettype=="left")? what.offsetLeft : what.offsetTop;
            var parentEl=what.offsetParent;
            while (parentEl!=null){
                totaloffset=(offsettype=="left")? totaloffset+parentEl.offsetLeft : totaloffset+parentEl.offsetTop;
                parentEl=parentEl.offsetParent;
            }
            return totaloffset;
        },

        swipeeffect:function(){
            if (this.bottomclip<parseInt(this.dropmenuobj.offsetHeight)){
                this.bottomclip+=10+(this.bottomclip/10)
                this.dropmenuobj.style.clip="rect(0 auto "+this.bottomclip+"px 0)"
            }
            else
                return
            this.swipetimer=setTimeout("cssdropdown.swipeeffect()", 10)
        },

        showhide:function(obj, e){
            if (this.ie || this.firefox)
                this.dropmenuobj.style.left=this.dropmenuobj.style.top="-500px"
            if (e.type=="click" && obj.visibility==hidden || e.type=="mouseover"){
                if (this.enableswipe==1){
                    if (typeof this.swipetimer!="undefined")
                        clearTimeout(this.swipetimer)
                    obj.clip="rect(0 auto 0 0)"
                    this.bottomclip=0
                    this.swipeeffect()
                }
                obj.visibility="visible"
            }
            else if (e.type=="click")
                obj.visibility="hidden"
        },

        iecompattest:function(){
            return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
        },

        clearbrowseredge:function(obj, whichedge){
            var edgeoffset=0
            if (whichedge=="rightedge"){
                var windowedge=this.ie && !window.opera? this.iecompattest().scrollLeft+this.iecompattest().clientWidth-15 : window.pageXOffset+window.innerWidth-15
                this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetWidth
                if (windowedge-this.dropmenuobj.x < this.dropmenuobj.contentmeasure)
                    edgeoffset=this.dropmenuobj.contentmeasure-obj.offsetWidth
            }
            else{
                var topedge=this.ie && !window.opera? this.iecompattest().scrollTop : window.pageYOffset
                var windowedge=this.ie && !window.opera? this.iecompattest().scrollTop+this.iecompattest().clientHeight-15 : window.pageYOffset+window.innerHeight-18
                this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetHeight
                if (windowedge-this.dropmenuobj.y < this.dropmenuobj.contentmeasure){
                    edgeoffset=this.dropmenuobj.contentmeasure+obj.offsetHeight
                    if ((this.dropmenuobj.y-topedge)<this.dropmenuobj.contentmeasure)
                        edgeoffset=this.dropmenuobj.y+obj.offsetHeight-topedge
                }
            }
            return edgeoffset
        },

        dropit:function(obj, e, dropmenuID){
            if (this.dropmenuobj!=null)
                this.dropmenuobj.style.visibility="hidden"
            this.clearhidemenu()
            if (this.ie||this.firefox){
                obj.onmouseout=function(){cssdropdown.delayhidemenu()}
                obj.onclick=function(){return !cssdropdown.disablemenuclick}
                this.dropmenuobj=document.getElementById(dropmenuID)
                if(!this.dropmenuobj) return;
                this.dropmenuobj.onmouseover=function(){cssdropdown.clearhidemenu()}
                this.dropmenuobj.onmouseout=function(e){cssdropdown.dynamichide(e)}
                this.dropmenuobj.onclick=function(){cssdropdown.delayhidemenu()}
                this.showhide(this.dropmenuobj.style, e)
                this.dropmenuobj.x=this.getposOffset(obj, "left")
                this.dropmenuobj.y=this.getposOffset(obj, "top")
                this.dropmenuobj.style.left=this.dropmenuobj.x-this.clearbrowseredge(obj, "rightedge")+"px"
                this.dropmenuobj.style.top=this.dropmenuobj.y-this.clearbrowseredge(obj, "bottomedge")+obj.offsetHeight+1+"px"
                this.positionshim()
            }
        },

        positionshim:function(){
            if (this.enableiframeshim && typeof this.shimobject!="undefined"){
                if (this.dropmenuobj.style.visibility=="visible"){
                    this.shimobject.style.width=this.dropmenuobj.offsetWidth+"px"
                    this.shimobject.style.height=this.dropmenuobj.offsetHeight+"px"
                    this.shimobject.style.left=this.dropmenuobj.style.left
                    this.shimobject.style.top=this.dropmenuobj.style.top
                }
                this.shimobject.style.display=(this.dropmenuobj.style.visibility=="visible")? "block" : "none"
            }
        },

        hideshim:function(){
            if (this.enableiframeshim && typeof this.shimobject!="undefined")
                this.shimobject.style.display='none'
        },

        contains_firefox:function(a, b) {
            while (b.parentNode)
                if ((b = b.parentNode) == a)
                    return true;
            return false;
        },

        dynamichide:function(e){
            var evtobj=window.event? window.event : e
            if (this.ie&&!this.dropmenuobj.contains(evtobj.toElement))
                this.delayhidemenu()
            else if (this.firefox&&e.currentTarget!= evtobj.relatedTarget&& !this.contains_firefox(evtobj.currentTarget, evtobj.relatedTarget))
                this.delayhidemenu()
        },

        delayhidemenu:function(){
            this.delayhide=setTimeout("cssdropdown.dropmenuobj.style.visibility='hidden'; cssdropdown.hideshim()",this.disappeardelay)
        },

        clearhidemenu:function(){
            if (this.delayhide!="undefined")
                clearTimeout(this.delayhide)
        },

        startchrome:function(){
            for (var ids=0; ids<arguments.length; ids++){
                var menuitems=document.getElementById(arguments[ids]).getElementsByTagName("a")
                for (var i=0; i<menuitems.length; i++){
                    if (menuitems[i].getAttribute("rel")){
                        var relvalue=menuitems[i].getAttribute("rel")
                        menuitems[i].onmouseover=function(e){
                            var event=typeof e!="undefined"? e : window.event
                            cssdropdown.dropit(this,event,this.getAttribute("rel"))
                        }
                    }
                }
            }
            if (window.createPopup && !window.XmlHttpRequest){
                document.write('<IFRAME id="iframeshim"  src="" style="display: none; left: 0; top: 0; z-index: 90; position: absolute; filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)" frameBorder="0" scrolling="no"></IFRAME>')
                this.shimobject=document.getElementById("iframeshim")
            }
        }

    }
</script><script type="text/javascript">cssdropdown.startchrome("navMenus")</script>
<script>
    var cssdropdownv={
        disappeardelay: 250,
        disablemenuclick: false,
        enableswipe: 1,
        enableiframeshim: 1,
        dropmenuobj: null, ie: document.all, firefox: document.getElementById&&!document.all, swipetimer: undefined, bottomclip:0,

        getposOffset:function(what, offsettype){
            var totaloffset=(offsettype=="left")? what.offsetLeft : what.offsetTop;
            var parentEl=what.offsetParent;
            while (parentEl!=null){
                totaloffset=(offsettype=="left")? totaloffset+parentEl.offsetLeft : totaloffset+parentEl.offsetTop;
                parentEl=parentEl.offsetParent;
            }
            return totaloffset;
        },

        swipeeffect:function(){
            if (this.bottomclip<parseInt(this.dropmenuobj.offsetHeight)){
                this.bottomclip+=10+(this.bottomclip/10)
                this.dropmenuobj.style.clip="rect(0 auto "+this.bottomclip+"px 0)"
            }
            else
                return
            this.swipetimer=setTimeout("cssdropdown.swipeeffect()", 10)
        },

        showhide:function(obj, e){
            if (this.ie || this.firefox)
                this.dropmenuobj.style.left=this.dropmenuobj.style.top="-500px"
            if (e.type=="click" && obj.visibility==hidden || e.type=="mouseover"){
                if (this.enableswipe==1){
                    if (typeof this.swipetimer!="undefined")
                        clearTimeout(this.swipetimer)
                    obj.clip="rect(0 auto 0 0)"
                    this.bottomclip=0
                    this.swipeeffect()
                }
                obj.visibility="visible"
            }
            else if (e.type=="click")
                obj.visibility="hidden"
        },

        iecompattest:function(){
            return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
        },

        clearbrowseredge:function(obj, whichedge){
            var edgeoffset=0
            if (whichedge=="rightedge"){
                var windowedge=this.ie && !window.opera? this.iecompattest().scrollLeft+this.iecompattest().clientWidth-15 : window.pageXOffset+window.innerWidth-15
                this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetWidth
                if (windowedge-this.dropmenuobj.x < this.dropmenuobj.contentmeasure)
                    edgeoffset=this.dropmenuobj.contentmeasure-obj.offsetWidth
            }
            else{
                var topedge=this.ie && !window.opera? this.iecompattest().scrollTop : window.pageYOffset
                var windowedge=this.ie && !window.opera? this.iecompattest().scrollTop+this.iecompattest().clientHeight-15 : window.pageYOffset+window.innerHeight-18
                this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetHeight
                if (windowedge-this.dropmenuobj.y < this.dropmenuobj.contentmeasure){
                    edgeoffset=this.dropmenuobj.contentmeasure+obj.offsetHeight
                    if ((this.dropmenuobj.y-topedge)<this.dropmenuobj.contentmeasure)
                        edgeoffset=this.dropmenuobj.y+obj.offsetHeight-topedge
                }
            }
            return edgeoffset
        },

        dropit:function(obj, e, dropmenuID){
            if (this.dropmenuobj!=null)
                this.dropmenuobj.style.visibility="hidden"
            this.clearhidemenu()
            if (this.ie||this.firefox){
                obj.onmouseout=function(){cssdropdown.delayhidemenu()}
                obj.onclick=function(){return !cssdropdown.disablemenuclick}
                this.dropmenuobj=document.getElementById(dropmenuID)
                if(!this.dropmenuobj) return;
                this.dropmenuobj.onmouseover=function(){cssdropdown.clearhidemenu()}
                this.dropmenuobj.onmouseout=function(e){cssdropdown.dynamichide(e)}
                this.dropmenuobj.onclick=function(){cssdropdown.delayhidemenu()}
                this.showhide(this.dropmenuobj.style, e)
                this.dropmenuobj.x=this.getposOffset(obj, "left")
                this.dropmenuobj.y=this.getposOffset(obj, "top")
                this.dropmenuobj.style.left=this.dropmenuobj.x-this.clearbrowseredge(obj, "rightedge")+"px"
                this.dropmenuobj.style.top=this.dropmenuobj.y-this.clearbrowseredge(obj, "bottomedge")+obj.offsetHeight+1+"px"
                this.positionshim()
            }
        },

        positionshim:function(){
            if (this.enableiframeshim && typeof this.shimobject!="undefined"){
                if (this.dropmenuobj.style.visibility=="visible"){
                    this.shimobject.style.width=this.dropmenuobj.offsetWidth+"px"
                    this.shimobject.style.height=this.dropmenuobj.offsetHeight+"px"
                    this.shimobject.style.left=this.dropmenuobj.style.left
                    this.shimobject.style.top=this.dropmenuobj.style.top
                }
                this.shimobject.style.display=(this.dropmenuobj.style.visibility=="visible")? "block" : "none"
            }
        },

        hideshim:function(){
            if (this.enableiframeshim && typeof this.shimobject!="undefined")
                this.shimobject.style.display='none'
        },

        contains_firefox:function(a, b) {
            while (b.parentNode)
                if ((b = b.parentNode) == a)
                    return true;
            return false;
        },

        dynamichide:function(e){
            var evtobj=window.event? window.event : e
            if (this.ie&&!this.dropmenuobj.contains(evtobj.toElement))
                this.delayhidemenu()
            else if (this.firefox&&e.currentTarget!= evtobj.relatedTarget&& !this.contains_firefox(evtobj.currentTarget, evtobj.relatedTarget))
                this.delayhidemenu()
        },

        delayhidemenu:function(){
            this.delayhide=setTimeout("cssdropdown.dropmenuobj.style.visibility='hidden'; cssdropdown.hideshim()",this.disappeardelay)
        },

        clearhidemenu:function(){
            if (this.delayhide!="undefined")
                clearTimeout(this.delayhide)
        },

        startchrome:function(){
            for (var ids=0; ids<arguments.length; ids++){
                var menuitems=document.getElementById(arguments[ids]).getElementsByTagName("a")
                for (var i=0; i<menuitems.length; i++){
                    if (menuitems[i].getAttribute("rel")){
                        var relvalue=menuitems[i].getAttribute("rel")
                        menuitems[i].onmouseover=function(e){
                            var event=typeof e!="undefined"? e : window.event
                            cssdropdown.dropit(this,event,this.getAttribute("rel"))
                        }
                    }
                }
            }
            if (window.createPopup && !window.XmlHttpRequest){
                document.write('<IFRAME id="iframeshim"  src="" style="display: none; left: 0; top: 0; z-index: 90; position: absolute; filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)" frameBorder="0" scrolling="no"></IFRAME>')
                this.shimobject=document.getElementById("iframeshim")
            }
        }

    }
</script><script type="text/javascript">cssdropdown.startchrome("navMenuv")</script>
</body>
</html>