<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>清明節假期通知-B.Kingenctrade</title>
    <meta name="keywords" content="B.Kingenctrade,B.King,安信enctrade,合约交易,秒合约">
    <meta name="description" content="資產 客服及出金調整問題">
    <link href="/index/css/index_stly.css?1554347687" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/index/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/index/js/index.js"></script>
</head>
<body>
    <div class="inner-head">
        <a href="javascript:history.go(-1)">
            <img class="return_img" src="/index/images/gg-icon13.png">
        </a>
        最新公告
    </div>
<div class="path">
    <div class="vert"></div>
    <span class="bold">正文</span>
    <div class="clear"></div>
</div>
<div class="step-box">
    <div class="n_title">清明節假期通知</div>
    <div class="time"><span>来源：GGtrade.com </span><span>发表日期：2019-04-03</span></div>
    <div class="content" style="font-size: 14px;"></div>
</div>
</body>
</html>