<!DOCTYPE html>
{include file="nodejs" /}

<script>
	var wap_dl_qzh='{$Think.lang.wap_dl_qzh}';
	var wap_wa_jmm='{$Think.lang.wap_wa_jmm}';
	var wap_wa_xmm='{$Think.lang.wap_wa_xmm}';
	var wap_wa_zxmm='{$Think.lang.wap_wa_zxmm}';
	var wap_wa_jmmc='{$Think.lang.wap_wa_jmmc}';
	var wap_wa_lws='{$Think.lang.wap_wa_lws}';
	var wap_wa_buts='{$Think.lang.wap_wa_buts}';
</script>
<html>
	<head>
<!--		<meta charset="utf-8">-->
<!--		<title></title>-->
<!--		<link rel="stylesheet" href="/application/wap/view/denglu/css5.css" />-->
<!--		<link href="/index/css/mango.css" rel="stylesheet" media="screen">-->

		{include file="head" /}
		<link rel="stylesheet" href="/application/wap/view/denglu/css5.css" />
<!--		白天黑夜模式切换-->
		{if $_SESSION["night"]=="yes"}<link rel="stylesheet" href="/index/css/wap_css/denglu-wangli.css" >{/if}
	</head>
	<style>
		.zc-div10{width: 45%!important;height: 46px;}
		.zc-div10>div:nth-child(1) { width: 75%; overflow: hidden;}
		.zc-div10>div:nth-child(1)>input {padding-left: 0px;}
		.zc-p1 {color: #61688a;}
	</style>
	<body>
	<body style="background-color: #e5ebf5;">
	{include file="daohang" /}
<!--	<div class="daohang">-->
<!--		<div class="logoxt"><img src="/index/images/logoxty.png" alt=""></div>-->
<!--		<div class="zhongbu wl_flex wl_justify_between wl_align_center">-->
<!--			<div class="neirongji"><p><a href="/wap/index/hangqing/"style="font-size: 0.8rem;">行情</a></p></div>-->
<!--			<div class="neirongji"><p><a href="/wap/index/bibijiaoyi/"style="font-size: 0.8rem;">币币交易</a></p></div>-->
<!--			<div class="neirongji"><p><a href="/wap/index/heyuejiaoyi/"style="font-size: 0.8rem;">合约交易</a></p></div>-->
<!--			<div class="neirongji"><p><a href="/wap/second/index"style="font-size: 0.8rem;">秒合约交易</a></p></div>-->
<!--			<div class="neirongji"><p><a href="/wap/mining/index"style="font-size: 0.8rem;">锁仓挖矿</a></p></div>-->
<!--			<div class="neirongji"><p><a href="/wap/zichan/bibi"style="font-size: 0.8rem;">我的资产</a></p></div>-->
<!--			<div class="neirongji"><p><span style="font-size: 0.8rem;">1919076544@qq.com</span></p></div>-->
<!--			<div class="neirongji">-->
<!--				<ul id="navMenuv" style="list-style: none;">-->
<!--					<li><a href="#" rel='dropmenu1v'><img src="/index/images/dengluxiao.png" alt="" style="margin-top: 10px;"></a></li>-->
<!--				</ul>-->
<!--				<ul id="dropmenu1v" class="dropMenuv"style="margin-left: -50px;border-radius: 5px;">-->
<!--					<li><a href="/wap/setup/shezhi"style="color: black;font-size: 0.8rem">账户设置</a></li>-->
<!--					<li><a href="/wap/setup/rzhi"style="color: black;font-size: 0.8rem">交易日志</a></li>-->
<!--					<li><a href="/wap/setup/sksz"style="color: black;font-size: 0.8rem">收款设置</a></li>-->
<!--					<li><a href="/wap/setup/sfrz"style="color: black;font-size: 0.8rem">身份认证</a></li>-->
<!--					<li><a href="#"style="color: black;font-size: 0.8rem">退出登录</a></li>-->
<!--				</ul>-->

<!--			</div>-->
<!--			<div class="neirongji wl_flex wl_align_center">-->
<!--				<div><img src="/index/images/dengluxiao.png" alt="" style="margin-top: 25px;"></div>-->
<!--				<div><a href="/wap/denglu/dl"style="color: white;font-size: 0.8rem;">登录</a></div>-->
<!--			</div>-->
<!--			<div class="neirongji wl_flex wl_align_center">-->
<!--				<div><img src="/index/images/zhuchexiao.png" alt="" style="margin-top: 25px"></div>-->
<!--				<div><a href="/wap/denglu/zc"style="color: white;font-size: 0.8rem;">注册</a></div>-->
<!--			</div>-->
<!--			<div class="neirongji"><a href=""><img src="/index/images/yangshengqi.png" alt=""style="margin-top: 25px;"/></a></div>-->

<!--		</div>-->
<!--		<div class="xiala wl_flex wl_justify_between">-->
<!--			<div class="jianti wl_flex wl_align_center" style="width: 100%;font-size: 0.11rem">-->
<!--				<div class="gvs"><img src="/index/images/wangluovsy.png" alt=""style="width: 25px;margin-top: 25px;"></div>-->
<!--				<div class="gvs">-->
<!--					&lt;!&ndash;                <a href="">简体中文</a>&ndash;&gt;-->
<!--					<ul id="navMenu" style="list-style: none;">-->
<!--						<li><a href="#" rel='dropmenu1'>简体中文</a></li>-->
<!--					</ul>-->
<!--					<ul id="dropmenu1" class="dropMenu"style="margin-left: -50px;border-radius: 5px;">-->
<!--						<li><a href="#"style="color: #596a7a;font-size: 0.8rem">简体中文</a></li>-->
<!--						<li><a href="#"style="color: #596a7a;font-size: 0.8rem">繁體中文</a></li>-->
<!--						<li><a href="#"style="color: #596a7a;font-size: 0.8rem">日本語</a></li>-->
<!--						<li><a href="#"style="color: #596a7a;font-size: 0.8rem">한국어</a></li>-->
<!--						<li><a href="#"style="color: #596a7a;font-size: 0.8rem">English</a></li>-->
<!--					</ul>-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="jianti" style="width: 100%">-->
<!--				<a href="">-->
<!--					<ul id="navMenus" style="list-style: none;">-->
<!--						<li><a href="#" rel='dropmenu1s'>Android & IOS下载</a></li>-->
<!--					</ul>-->
<!--					<ul id="dropmenu1s" class="dropMenus">-->
<!--						<li><img src="/index/images/huangxinghua.png" alt=""style="width: 120px;height: 120px;border-radius: 5px;"></li>-->
<!--					</ul>-->
<!--				</a>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->

	<div class="wg-whole">
		<form id="formid">
			<p class="wg-div1">{$Think.lang.wap_dl_qdl}</p>
			<div class="wg-div2">
				<p>{$Think.lang.wap_dl_zh}</p>
				<input name="username" />
			</div>
			<p class="zc-p1">{$Think.lang.wap_wa_qshur}</p>
			<div class="zc-div10">
				<div><input class=" zc-yzm" name="phonecode"/></div>
				<div class=""><a class="code_btn" href="javascript:"   onclick ="return get_svg();" >{$Think.lang.wap_wa_fs}</a></div>
			</div>

<!--			<div class="wg-div2">-->
<!--				<p>输入旧密码</p>-->
<!--				<input type="password" />-->
<!--			</div>-->
			<div class="wg-div2">
				<p>{$Think.lang.wap_wa_sr}</p>
				<input type="password" name="upwd"/>
			</div>
			<div class="wg-div2">
				<p>{$Think.lang.wap_wa_zcsr}</p>
				<input type="password" name="upwd2" />
			</div>
			<div class="wg-butt">
				<a href="#">{$Think.lang.wap_wa_qrs}</a>
			</div>
		</form>

		</div>

		<script src="/application/wap/view/denglu/js/jquery-3.1.1.min.js"></script>
		<script>


			$(".wg-butt>a").click(function(){
				var vau=$(".wg-div2>input").eq(0).val();
				var vau2=$(".wg-div2>input").eq(1).val();
				var vau3=$(".wg-div2>input").eq(2).val();
				var vau4=$(".wg-div2>input").eq(3).val();
				var vau5=vau2.length;
				var vau6=vau3.length;
				if(!vau){alert(wap_dl_qzh);return;}
				if(!vau2){alert(wap_wa_jmm);return;}
				if(!vau3){alert(wap_wa_xmm);return;}
				if(!vau4){alert(wap_wa_zxmm);return;}
				if(vau5<6){alert(wap_wa_jmmc);return;}
				if(vau6<6){alert(wap_wa_lws);return;}
				if(vau3!=vau4){alert(wap_wa_buts); $(".wg-div2>input").eq(2).val(""); $(".wg-div2>input").eq(3).val("");  return;}

				var data = $('#formid').serialize();
				var formurl = "{:Url('Denglu/respass2')}";
				var locurl = "{:Url('Denglu/dl')}";
				WPpost(formurl,data,locurl);
				return false;
			});
			function get_svg() {


				var phone = $('.zc-yx').val();
				/*
                    if(!(/^1[3456789]\d{9}$/.test(phone))){
                        layer.msg("请正确输入邮箱！");
                        return false;
                    }*/

				var url = "/wap/Denglu/sendmsm/phone/"+phone;
				$.get(url,function(resdata){
					layer.msg(resdata.data);
					if(resdata.type == 1){
						$(".code_btn").attr('onclick',"return false;");
						listion_sendmsm();
					}
				})
				return false;
			}

			function listion_sendmsm(){

				var time= 61;
				setTime=setInterval(function(){
					if(time<=1){
						clearInterval(setTime);
						$(".code_btn").html("{$Think.lang.jse_zfyc}");
						$(".code_btn").attr('onclick',"return get_svg();");
						return;
					}
					time--;
					$(".code_btn").html(time+"s");

				},1000);
			}

		</script>

	<script>
		$(function () {
			$(".neirongji p").click(function () {
				$(".neirongji p").removeClass('active');
				$(this).addClass('active');
			})
		});
	</script>
	<script>
		// 类名是需要隐藏的div
		$(".huhuhus").show();
		$(".gugugus").show();
		// 点击的按钮
		$(".kjkjkj>a").click(function(){
			// 类名是需要隐藏的div
			$(".huhuhus").show();
			$(".gugugus").show();
		});
		$(".klklkl>a").click(function(){
			// 类名是需要隐藏的div
			$(".huhuhus").show();
			$(".gugugus").hide();
		});
		$(".kukuku>a").click(function(){
			// 类名是需要隐藏的div
			$(".zhuliuugh").show();
			$(".huhuhus").hide();
			$(".gugugus").hide();
		});
	</script>
	<script>
		var cssdropdown={
			disappeardelay: 250,
			disablemenuclick: false,
			enableswipe: 1,
			enableiframeshim: 1,
			dropmenuobj: null, ie: document.all, firefox: document.getElementById&&!document.all, swipetimer: undefined, bottomclip:0,

			getposOffset:function(what, offsettype){
				var totaloffset=(offsettype=="left")? what.offsetLeft : what.offsetTop;
				var parentEl=what.offsetParent;
				while (parentEl!=null){
					totaloffset=(offsettype=="left")? totaloffset+parentEl.offsetLeft : totaloffset+parentEl.offsetTop;
					parentEl=parentEl.offsetParent;
				}
				return totaloffset;
			},

			swipeeffect:function(){
				if (this.bottomclip<parseInt(this.dropmenuobj.offsetHeight)){
					this.bottomclip+=10+(this.bottomclip/10)
					this.dropmenuobj.style.clip="rect(0 auto "+this.bottomclip+"px 0)"
				}
				else
					return
				this.swipetimer=setTimeout("cssdropdown.swipeeffect()", 10)
			},

			showhide:function(obj, e){
				if (this.ie || this.firefox)
					this.dropmenuobj.style.left=this.dropmenuobj.style.top="-500px"
				if (e.type=="click" && obj.visibility==hidden || e.type=="mouseover"){
					if (this.enableswipe==1){
						if (typeof this.swipetimer!="undefined")
							clearTimeout(this.swipetimer)
						obj.clip="rect(0 auto 0 0)"
						this.bottomclip=0
						this.swipeeffect()
					}
					obj.visibility="visible"
				}
				else if (e.type=="click")
					obj.visibility="hidden"
			},

			iecompattest:function(){
				return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
			},

			clearbrowseredge:function(obj, whichedge){
				var edgeoffset=0
				if (whichedge=="rightedge"){
					var windowedge=this.ie && !window.opera? this.iecompattest().scrollLeft+this.iecompattest().clientWidth-15 : window.pageXOffset+window.innerWidth-15
					this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetWidth
					if (windowedge-this.dropmenuobj.x < this.dropmenuobj.contentmeasure)
						edgeoffset=this.dropmenuobj.contentmeasure-obj.offsetWidth
				}
				else{
					var topedge=this.ie && !window.opera? this.iecompattest().scrollTop : window.pageYOffset
					var windowedge=this.ie && !window.opera? this.iecompattest().scrollTop+this.iecompattest().clientHeight-15 : window.pageYOffset+window.innerHeight-18
					this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetHeight
					if (windowedge-this.dropmenuobj.y < this.dropmenuobj.contentmeasure){
						edgeoffset=this.dropmenuobj.contentmeasure+obj.offsetHeight
						if ((this.dropmenuobj.y-topedge)<this.dropmenuobj.contentmeasure)
							edgeoffset=this.dropmenuobj.y+obj.offsetHeight-topedge
					}
				}
				return edgeoffset
			},

			dropit:function(obj, e, dropmenuID){
				if (this.dropmenuobj!=null)
					this.dropmenuobj.style.visibility="hidden"
				this.clearhidemenu()
				if (this.ie||this.firefox){
					obj.onmouseout=function(){cssdropdown.delayhidemenu()}
					obj.onclick=function(){return !cssdropdown.disablemenuclick}
					this.dropmenuobj=document.getElementById(dropmenuID)
					if(!this.dropmenuobj) return;
					this.dropmenuobj.onmouseover=function(){cssdropdown.clearhidemenu()}
					this.dropmenuobj.onmouseout=function(e){cssdropdown.dynamichide(e)}
					this.dropmenuobj.onclick=function(){cssdropdown.delayhidemenu()}
					this.showhide(this.dropmenuobj.style, e)
					this.dropmenuobj.x=this.getposOffset(obj, "left")
					this.dropmenuobj.y=this.getposOffset(obj, "top")
					this.dropmenuobj.style.left=this.dropmenuobj.x-this.clearbrowseredge(obj, "rightedge")+"px"
					this.dropmenuobj.style.top=this.dropmenuobj.y-this.clearbrowseredge(obj, "bottomedge")+obj.offsetHeight+1+"px"
					this.positionshim()
				}
			},

			positionshim:function(){
				if (this.enableiframeshim && typeof this.shimobject!="undefined"){
					if (this.dropmenuobj.style.visibility=="visible"){
						this.shimobject.style.width=this.dropmenuobj.offsetWidth+"px"
						this.shimobject.style.height=this.dropmenuobj.offsetHeight+"px"
						this.shimobject.style.left=this.dropmenuobj.style.left
						this.shimobject.style.top=this.dropmenuobj.style.top
					}
					this.shimobject.style.display=(this.dropmenuobj.style.visibility=="visible")? "block" : "none"
				}
			},

			hideshim:function(){
				if (this.enableiframeshim && typeof this.shimobject!="undefined")
					this.shimobject.style.display='none'
			},

			contains_firefox:function(a, b) {
				while (b.parentNode)
					if ((b = b.parentNode) == a)
						return true;
				return false;
			},

			dynamichide:function(e){
				var evtobj=window.event? window.event : e
				if (this.ie&&!this.dropmenuobj.contains(evtobj.toElement))
					this.delayhidemenu()
				else if (this.firefox&&e.currentTarget!= evtobj.relatedTarget&& !this.contains_firefox(evtobj.currentTarget, evtobj.relatedTarget))
					this.delayhidemenu()
			},

			delayhidemenu:function(){
				this.delayhide=setTimeout("cssdropdown.dropmenuobj.style.visibility='hidden'; cssdropdown.hideshim()",this.disappeardelay)
			},

			clearhidemenu:function(){
				if (this.delayhide!="undefined")
					clearTimeout(this.delayhide)
			},

			startchrome:function(){
				for (var ids=0; ids<arguments.length; ids++){
					var menuitems=document.getElementById(arguments[ids]).getElementsByTagName("a")
					for (var i=0; i<menuitems.length; i++){
						if (menuitems[i].getAttribute("rel")){
							var relvalue=menuitems[i].getAttribute("rel")
							menuitems[i].onmouseover=function(e){
								var event=typeof e!="undefined"? e : window.event
								cssdropdown.dropit(this,event,this.getAttribute("rel"))
							}
						}
					}
				}
				if (window.createPopup && !window.XmlHttpRequest){
					document.write('<IFRAME id="iframeshim"  src="" style="display: none; left: 0; top: 0; z-index: 90; position: absolute; filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)" frameBorder="0" scrolling="no"></IFRAME>')
					this.shimobject=document.getElementById("iframeshim")
				}
			}

		}
	</script><script type="text/javascript">cssdropdown.startchrome("navMenu")</script>
	<script>
		var cssdropdowns={
			disappeardelay: 250,
			disablemenuclick: false,
			enableswipe: 1,
			enableiframeshim: 1,
			dropmenuobj: null, ie: document.all, firefox: document.getElementById&&!document.all, swipetimer: undefined, bottomclip:0,

			getposOffset:function(what, offsettype){
				var totaloffset=(offsettype=="left")? what.offsetLeft : what.offsetTop;
				var parentEl=what.offsetParent;
				while (parentEl!=null){
					totaloffset=(offsettype=="left")? totaloffset+parentEl.offsetLeft : totaloffset+parentEl.offsetTop;
					parentEl=parentEl.offsetParent;
				}
				return totaloffset;
			},

			swipeeffect:function(){
				if (this.bottomclip<parseInt(this.dropmenuobj.offsetHeight)){
					this.bottomclip+=10+(this.bottomclip/10)
					this.dropmenuobj.style.clip="rect(0 auto "+this.bottomclip+"px 0)"
				}
				else
					return
				this.swipetimer=setTimeout("cssdropdown.swipeeffect()", 10)
			},

			showhide:function(obj, e){
				if (this.ie || this.firefox)
					this.dropmenuobj.style.left=this.dropmenuobj.style.top="-500px"
				if (e.type=="click" && obj.visibility==hidden || e.type=="mouseover"){
					if (this.enableswipe==1){
						if (typeof this.swipetimer!="undefined")
							clearTimeout(this.swipetimer)
						obj.clip="rect(0 auto 0 0)"
						this.bottomclip=0
						this.swipeeffect()
					}
					obj.visibility="visible"
				}
				else if (e.type=="click")
					obj.visibility="hidden"
			},

			iecompattest:function(){
				return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
			},

			clearbrowseredge:function(obj, whichedge){
				var edgeoffset=0
				if (whichedge=="rightedge"){
					var windowedge=this.ie && !window.opera? this.iecompattest().scrollLeft+this.iecompattest().clientWidth-15 : window.pageXOffset+window.innerWidth-15
					this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetWidth
					if (windowedge-this.dropmenuobj.x < this.dropmenuobj.contentmeasure)
						edgeoffset=this.dropmenuobj.contentmeasure-obj.offsetWidth
				}
				else{
					var topedge=this.ie && !window.opera? this.iecompattest().scrollTop : window.pageYOffset
					var windowedge=this.ie && !window.opera? this.iecompattest().scrollTop+this.iecompattest().clientHeight-15 : window.pageYOffset+window.innerHeight-18
					this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetHeight
					if (windowedge-this.dropmenuobj.y < this.dropmenuobj.contentmeasure){
						edgeoffset=this.dropmenuobj.contentmeasure+obj.offsetHeight
						if ((this.dropmenuobj.y-topedge)<this.dropmenuobj.contentmeasure)
							edgeoffset=this.dropmenuobj.y+obj.offsetHeight-topedge
					}
				}
				return edgeoffset
			},

			dropit:function(obj, e, dropmenuID){
				if (this.dropmenuobj!=null)
					this.dropmenuobj.style.visibility="hidden"
				this.clearhidemenu()
				if (this.ie||this.firefox){
					obj.onmouseout=function(){cssdropdown.delayhidemenu()}
					obj.onclick=function(){return !cssdropdown.disablemenuclick}
					this.dropmenuobj=document.getElementById(dropmenuID)
					if(!this.dropmenuobj) return;
					this.dropmenuobj.onmouseover=function(){cssdropdown.clearhidemenu()}
					this.dropmenuobj.onmouseout=function(e){cssdropdown.dynamichide(e)}
					this.dropmenuobj.onclick=function(){cssdropdown.delayhidemenu()}
					this.showhide(this.dropmenuobj.style, e)
					this.dropmenuobj.x=this.getposOffset(obj, "left")
					this.dropmenuobj.y=this.getposOffset(obj, "top")
					this.dropmenuobj.style.left=this.dropmenuobj.x-this.clearbrowseredge(obj, "rightedge")+"px"
					this.dropmenuobj.style.top=this.dropmenuobj.y-this.clearbrowseredge(obj, "bottomedge")+obj.offsetHeight+1+"px"
					this.positionshim()
				}
			},

			positionshim:function(){
				if (this.enableiframeshim && typeof this.shimobject!="undefined"){
					if (this.dropmenuobj.style.visibility=="visible"){
						this.shimobject.style.width=this.dropmenuobj.offsetWidth+"px"
						this.shimobject.style.height=this.dropmenuobj.offsetHeight+"px"
						this.shimobject.style.left=this.dropmenuobj.style.left
						this.shimobject.style.top=this.dropmenuobj.style.top
					}
					this.shimobject.style.display=(this.dropmenuobj.style.visibility=="visible")? "block" : "none"
				}
			},

			hideshim:function(){
				if (this.enableiframeshim && typeof this.shimobject!="undefined")
					this.shimobject.style.display='none'
			},

			contains_firefox:function(a, b) {
				while (b.parentNode)
					if ((b = b.parentNode) == a)
						return true;
				return false;
			},

			dynamichide:function(e){
				var evtobj=window.event? window.event : e
				if (this.ie&&!this.dropmenuobj.contains(evtobj.toElement))
					this.delayhidemenu()
				else if (this.firefox&&e.currentTarget!= evtobj.relatedTarget&& !this.contains_firefox(evtobj.currentTarget, evtobj.relatedTarget))
					this.delayhidemenu()
			},

			delayhidemenu:function(){
				this.delayhide=setTimeout("cssdropdown.dropmenuobj.style.visibility='hidden'; cssdropdown.hideshim()",this.disappeardelay)
			},

			clearhidemenu:function(){
				if (this.delayhide!="undefined")
					clearTimeout(this.delayhide)
			},

			startchrome:function(){
				for (var ids=0; ids<arguments.length; ids++){
					var menuitems=document.getElementById(arguments[ids]).getElementsByTagName("a")
					for (var i=0; i<menuitems.length; i++){
						if (menuitems[i].getAttribute("rel")){
							var relvalue=menuitems[i].getAttribute("rel")
							menuitems[i].onmouseover=function(e){
								var event=typeof e!="undefined"? e : window.event
								cssdropdown.dropit(this,event,this.getAttribute("rel"))
							}
						}
					}
				}
				if (window.createPopup && !window.XmlHttpRequest){
					document.write('<IFRAME id="iframeshim"  src="" style="display: none; left: 0; top: 0; z-index: 90; position: absolute; filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)" frameBorder="0" scrolling="no"></IFRAME>')
					this.shimobject=document.getElementById("iframeshim")
				}
			}

		}
	</script><script type="text/javascript">cssdropdown.startchrome("navMenus")</script>
	<script>
		var cssdropdownv={
			disappeardelay: 250,
			disablemenuclick: false,
			enableswipe: 1,
			enableiframeshim: 1,
			dropmenuobj: null, ie: document.all, firefox: document.getElementById&&!document.all, swipetimer: undefined, bottomclip:0,

			getposOffset:function(what, offsettype){
				var totaloffset=(offsettype=="left")? what.offsetLeft : what.offsetTop;
				var parentEl=what.offsetParent;
				while (parentEl!=null){
					totaloffset=(offsettype=="left")? totaloffset+parentEl.offsetLeft : totaloffset+parentEl.offsetTop;
					parentEl=parentEl.offsetParent;
				}
				return totaloffset;
			},

			swipeeffect:function(){
				if (this.bottomclip<parseInt(this.dropmenuobj.offsetHeight)){
					this.bottomclip+=10+(this.bottomclip/10)
					this.dropmenuobj.style.clip="rect(0 auto "+this.bottomclip+"px 0)"
				}
				else
					return
				this.swipetimer=setTimeout("cssdropdown.swipeeffect()", 10)
			},

			showhide:function(obj, e){
				if (this.ie || this.firefox)
					this.dropmenuobj.style.left=this.dropmenuobj.style.top="-500px"
				if (e.type=="click" && obj.visibility==hidden || e.type=="mouseover"){
					if (this.enableswipe==1){
						if (typeof this.swipetimer!="undefined")
							clearTimeout(this.swipetimer)
						obj.clip="rect(0 auto 0 0)"
						this.bottomclip=0
						this.swipeeffect()
					}
					obj.visibility="visible"
				}
				else if (e.type=="click")
					obj.visibility="hidden"
			},

			iecompattest:function(){
				return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
			},

			clearbrowseredge:function(obj, whichedge){
				var edgeoffset=0
				if (whichedge=="rightedge"){
					var windowedge=this.ie && !window.opera? this.iecompattest().scrollLeft+this.iecompattest().clientWidth-15 : window.pageXOffset+window.innerWidth-15
					this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetWidth
					if (windowedge-this.dropmenuobj.x < this.dropmenuobj.contentmeasure)
						edgeoffset=this.dropmenuobj.contentmeasure-obj.offsetWidth
				}
				else{
					var topedge=this.ie && !window.opera? this.iecompattest().scrollTop : window.pageYOffset
					var windowedge=this.ie && !window.opera? this.iecompattest().scrollTop+this.iecompattest().clientHeight-15 : window.pageYOffset+window.innerHeight-18
					this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetHeight
					if (windowedge-this.dropmenuobj.y < this.dropmenuobj.contentmeasure){
						edgeoffset=this.dropmenuobj.contentmeasure+obj.offsetHeight
						if ((this.dropmenuobj.y-topedge)<this.dropmenuobj.contentmeasure)
							edgeoffset=this.dropmenuobj.y+obj.offsetHeight-topedge
					}
				}
				return edgeoffset
			},

			dropit:function(obj, e, dropmenuID){
				if (this.dropmenuobj!=null)
					this.dropmenuobj.style.visibility="hidden"
				this.clearhidemenu()
				if (this.ie||this.firefox){
					obj.onmouseout=function(){cssdropdown.delayhidemenu()}
					obj.onclick=function(){return !cssdropdown.disablemenuclick}
					this.dropmenuobj=document.getElementById(dropmenuID)
					if(!this.dropmenuobj) return;
					this.dropmenuobj.onmouseover=function(){cssdropdown.clearhidemenu()}
					this.dropmenuobj.onmouseout=function(e){cssdropdown.dynamichide(e)}
					this.dropmenuobj.onclick=function(){cssdropdown.delayhidemenu()}
					this.showhide(this.dropmenuobj.style, e)
					this.dropmenuobj.x=this.getposOffset(obj, "left")
					this.dropmenuobj.y=this.getposOffset(obj, "top")
					this.dropmenuobj.style.left=this.dropmenuobj.x-this.clearbrowseredge(obj, "rightedge")+"px"
					this.dropmenuobj.style.top=this.dropmenuobj.y-this.clearbrowseredge(obj, "bottomedge")+obj.offsetHeight+1+"px"
					this.positionshim()
				}
			},

			positionshim:function(){
				if (this.enableiframeshim && typeof this.shimobject!="undefined"){
					if (this.dropmenuobj.style.visibility=="visible"){
						this.shimobject.style.width=this.dropmenuobj.offsetWidth+"px"
						this.shimobject.style.height=this.dropmenuobj.offsetHeight+"px"
						this.shimobject.style.left=this.dropmenuobj.style.left
						this.shimobject.style.top=this.dropmenuobj.style.top
					}
					this.shimobject.style.display=(this.dropmenuobj.style.visibility=="visible")? "block" : "none"
				}
			},

			hideshim:function(){
				if (this.enableiframeshim && typeof this.shimobject!="undefined")
					this.shimobject.style.display='none'
			},

			contains_firefox:function(a, b) {
				while (b.parentNode)
					if ((b = b.parentNode) == a)
						return true;
				return false;
			},

			dynamichide:function(e){
				var evtobj=window.event? window.event : e
				if (this.ie&&!this.dropmenuobj.contains(evtobj.toElement))
					this.delayhidemenu()
				else if (this.firefox&&e.currentTarget!= evtobj.relatedTarget&& !this.contains_firefox(evtobj.currentTarget, evtobj.relatedTarget))
					this.delayhidemenu()
			},

			delayhidemenu:function(){
				this.delayhide=setTimeout("cssdropdown.dropmenuobj.style.visibility='hidden'; cssdropdown.hideshim()",this.disappeardelay)
			},

			clearhidemenu:function(){
				if (this.delayhide!="undefined")
					clearTimeout(this.delayhide)
			},

			startchrome:function(){
				for (var ids=0; ids<arguments.length; ids++){
					var menuitems=document.getElementById(arguments[ids]).getElementsByTagName("a")
					for (var i=0; i<menuitems.length; i++){
						if (menuitems[i].getAttribute("rel")){
							var relvalue=menuitems[i].getAttribute("rel")
							menuitems[i].onmouseover=function(e){
								var event=typeof e!="undefined"? e : window.event
								cssdropdown.dropit(this,event,this.getAttribute("rel"))
							}
						}
					}
				}
				if (window.createPopup && !window.XmlHttpRequest){
					document.write('<IFRAME id="iframeshim"  src="" style="display: none; left: 0; top: 0; z-index: 90; position: absolute; filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)" frameBorder="0" scrolling="no"></IFRAME>')
					this.shimobject=document.getElementById("iframeshim")
				}
			}

		}
	</script><script type="text/javascript">cssdropdown.startchrome("navMenuv")</script>
	</body>
</html>
