{if !isset($_SESSION['uid'])}
{include file="nodejs" /}

<div class="disanzhu">
    <div class="hanzijige"><span>{$Think.lang.foot_kqjy}</span></div>
    <div class="liangganniu wl_flex wl_justify_between">
        <div class="syuk"><a href="/wap/denglu/dl">{$Think.lang.denglu}</a></div>
        <div class="syuk"><a href="/wap/denglu/zc">{$Think.lang.regetit}</a></div>
    </div>
</div>
{/if}
<div class="disizhu">
    <div class="xiadahezi wl_flex wl_align_center">
        <div class="sigeneir">
            <div class="tuhezi wl_flex wl_align_center" style="height: 25%">
                <div class="zheshitu" style="width: 40%"><img src="/index/images/language/logo10.png" alt=""style="width: 45px;height: 45px;float: right;"></div>
                <div class="zheshizi" style="width: 60%;"><a href=""style="text-decoration: none;color: #3d5c7b"> |B.King{$Think.lang.foot_jypt}</a></div>
            </div>
            <div class="tongyizichan" style="height: auto;font-size: 0.13rem;color: silver!important;    text-align: center;">{$Think.lang.foot_hyhb}
            </div>
           <!-- <div class="zheshishuaiti" style="height: 40%"><img src="/index/images/shuaiqid.png" alt=""style="width: 80%"></div>-->
        </div>
        <div class="sigeneir">
            <div class="guanyuniw" style="padding-top: 15px;padding-left: 90px">{$Think.lang.ind_gywm}</div>
            <div class="guanyuniw" style="font-size: 0.12rem;padding-left: 90px;padding-top: 8px;">
                <a href="http://208.109.36.146/wap/index/falv/"style="text-decoration: none;color: silver!important">{$Think.lang.wap_falv_flsm}</a></div>
            <div class="guanyuniw" style="font-size: 0.12rem;padding-left: 90px;color: silver!important;padding-top: 8px;">{$Think.lang.foot_ystk}</div>
            <div class="guanyuniw" style="font-size: 0.12rem;padding-left: 90px;color: silver!important;padding-top: 8px;">{$Think.lang.foot_yhxy}</div>
        </div>
        <div class="sigeneir">
            <div class="guanyuniw" style="padding-top: 15px;padding-left: 50px">{$Think.lang.foot_khfw}</div>
            <div class="guanyuniw" style="font-size: 0.12rem;padding-left: 50px;color: silver!important;padding-top: 8px">{$Think.lang.foot_gyfxq}</div>
            <div class="guanyuniw" style="font-size: 0.12rem;padding-left: 50px;color: silver!important;padding-top: 8px">{$Think.lang.foot_yxhyjy}</div>
        </div>
        <!--<div class="sigeneir">
            <div class="diyihangzi"><a href="" style="text-decoration: none;padding-top: 15px;font-size: 0.15rem;color: #3d5c7b;padding-left: 55px;">{$Think.lang.foot_khfw}</a></div>
            <div class="youxiangsm"><a href="" style="text-decoration: none;font-size: 0.15rem;color: #3d5c7b;padding-left: 55px;line-height: 60px">{$Think.lang.foot_sjmt}</a></div>
            <div class="tupkuvx"><img src="/index/images/hjcxnme.png" alt=""style="width: 70%;height: 38%;padding-left: 50px;margin-top: 16px"></div>
        </div>-->
    </div>
    <div class="zuihoukuang">{$Think.lang.foot_nrony}<br>
        {$Think.lang.foot_nrone}</div>
</div>