<!DOCTYPE html>
<html style="font-size: 132.813px;">

	<head>
		<meta charset="utf-8">
		<title>B.King官网|期权,外汇,虚拟币投资开户交易平台-enctrades.COM</title>
		<meta name="keywords" content="B.Kingenctrades,B.King,安信enctrades,合约交易,秒合约">
		<meta name="description" content="B.Kingenctrades平台拥有合约_秒合约2种交易模式，双重监管，正规安全。合约交易助力老手增加盈利，秒合约让新手轻松入门，闪电盈利！多终端交易，用户可24小时体验一流交易!">
		<meta name="full-screen" content="yes">
		<meta name="browsermode" content="application">
		<meta name="x5-page-mode" content="app">
		<meta name="x5-fullscreen" content="true">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<link href="/index/css/index_for.css" rel="stylesheet" type="text/css">
		<script src="https://hm.baidu.com/hm.js?ea5da0ed025ce44718399d39b666bfc5"></script>
		<script type="text/javascript">
			//web端自适应rem样式
			//auto adaptation
			var calculate_size = function() {
				var BASE_FONT_SIZE = 100;
				var docEl = document.documentElement,
					clientWidth = docEl.clientWidth;
				if(!clientWidth) return;
				docEl.style.fontSize = BASE_FONT_SIZE * (clientWidth / 320) + 'px';
			};
			// Abort if browser does not support addEventListener
			if(document.addEventListener) {
				var resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
				window.addEventListener(resizeEvt, calculate_size, false);
				document.addEventListener('DOMContentLoaded', calculate_size, false);
				calculate_size();
			}
		</script>
		<script type="text/javascript" src="/index/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/index/js/touchSlider.js"></script>
		<script type="text/javascript" src="/index/js/index.js"></script>
	</head>

	<body style="background:#262b3e;">
		<div class="inner-head">
			<a href="javascript:history.go(-1)">
				<img class="return_img" src="/index/images/gg-icon13.png">
			</a>
			APP下载
		</div>
		<div class="contact-us" style="    text-align: center;padding: 20% 10% 10% 10%;">
			<img  src="http://api.k780.com:88/?app=qr.get&data={$app_download}&appkey=56489&sign=9f9d153160dc83b01126f1217ac7e71a">
		</div>
		{include file="foot" /}
