<!DOCTYPE html>
{include file="nodejs" /}

<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1"> 下行代码解决导航栏没锁死会动问题-->
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>B.King</title>
		<link rel="stylesheet" href="/mcss/zichan.css" />
		<link href="/index/css/mango.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="/application/wap/view/zichan/font_latdk7zioj/iconfont.css" />
		{if $_SESSION["night"]=="yes"}<link rel="stylesheet" href="/index/css/wap_css/zichan-bibi.css" >{/if}
		<script src="/index/js/jquery-2.1.4.min.js"></script>
	</head>
	
<style>
	/* 此次的CSS代码请勿删除或移动到其他页面 */
	.bi-shujv{min-height: 1000px;}
	.bi-content>a:nth-child(2)>div{ color: #5697f4; background-color: #c9ccd0;}
</style>

<body style="background-color: #e5ebf5;">




<style>
	.mmining-head{width: 100%;overflow: inherit;background-color: #000;}
	.gvs>img{}
	.mtop-zc>img{margin-top: 20px;}
	.neirongji>a>img{margin-top: 20px;}
</style>

<div class="mmining-head">
	<div style="margin: 0 auto;">
		{include file="daohang" /}
	</div>
</div>

<div class="whole">
<div class="bi-two">
	<div>{$Think.lang.ti_zc}</div>
</div>
<div class="bi-qbsj">
	<div class="bi-content">
		<a href="bibi.html">
			<div class="bi-content-div1">
				<div><span class="iconfont">&#xe610;</span></div>
				<div>{$Think.lang.bii_bzh}</div>
			</div>
		</a>
		<a href="heyue.html">
			<div class="bi-content-div1">
				<div><span class="iconfont">&#xe610;</span></div>
				<div>{$Think.lang.hy_hyzh}</div>
			</div>
		</a>
		<a href="fabi.html">
			<div class="bi-content-div1">
				<div><span class="iconfont">&#xe610;</span></div>
				<div>{$Think.lang.fb_fbzh}</div>
			</div>
		</a>
		<a href="miaoheyue.html">
			<div class="bi-content-div1">
				<div><span class="iconfont">&#xe610;</span></div>
				<div>{$Think.lang.mhy_mhyzh}</div>
			</div>
		</a>
		<a href="huazhuan.html">
			<div class="bi-content-div1">
				<div><span class="iconfont">&#xe612;</span></div>
				<div>{$Think.lang.bibi_zjhz}</div>
			</div>
		</a>
		<div></div>
	</div>

	<div class="bi-shujv">
		
		<div class="bi-shujv-top">
			<p>{$Think.lang.bii_zcc}：${$allbibi_money}</p>
			<div>
				<div>{$Think.lang.sl_bz}</div>
				<div>{$Think.lang.bi_ky}</div>
				<div>{$Think.lang.bii_dj}</div>
				<div>{$Think.lang.bii_zh}</div>
				<div>{$Think.lang.le_cz}</div>
			</div>
		</div>

		<div class="bi-shujv-jilvl">
			<ul>
				{volist name='bibi' id='vo'}
				<li>
					<div>{$vo.cp}</div>
					<div>{$vo.sl}</div>
					<div>{$vo.dj}</div>
					<div>{$vo.zhehe}</div>
					<div>
<!--						<div style="float: left;"><a href="cwjl.html">记录</a></div>-->
						<div style="float: left;"><a href="/wap/zichan/change_log?name={$vo.cp}&type=2">{$Think.lang.tt_jl}</a></div>
						<div style="float: right"><a href="huazhuan.html?name={$vo.cp}&type=2">{$Think.lang.tt_hz}</a></div>
					</div>
				</li>

				{/volist}

			</ul>
			<div></div>
		</div>
		
	</div>

	
</div>
<div class="bi-bottu">
	
</div>

<!-- 勿删 -->
</div>

<script src="/index/js/jquery-2.1.4.min.js"></script>
<script>
	$(function () {
		$(".neirongji p").click(function () {
			$(".neirongji p").removeClass('active');
			$(this).addClass('active');
		})
		$(".neirongji p:eq(5)").addClass('active');
	});
</script>
<script src="js/bibi.js"></script>
<script>

</script>






<script src="/index/js/jquery-2.1.4.min.js"></script>
<script>
	// 类名是需要隐藏的div
	$(".huhuhus").show();
	$(".gugugus").show();
	// 点击的按钮
	$(".kjkjkj>a").click(function(){
		// 类名是需要隐藏的div
		$(".huhuhus").show();
		$(".gugugus").show();
	});
	$(".klklkl>a").click(function(){
		// 类名是需要隐藏的div
		$(".huhuhus").show();
		$(".gugugus").hide();
	});
	$(".kukuku>a").click(function(){
		// 类名是需要隐藏的div
		$(".zhuliuugh").show();
		$(".huhuhus").hide();
		$(".gugugus").hide();
	});
</script>
<script>
	var cssdropdown={
		disappeardelay: 250,
		disablemenuclick: false,
		enableswipe: 1,
		enableiframeshim: 1,
		dropmenuobj: null, ie: document.all, firefox: document.getElementById&&!document.all, swipetimer: undefined, bottomclip:0,

		getposOffset:function(what, offsettype){
			var totaloffset=(offsettype=="left")? what.offsetLeft : what.offsetTop;
			var parentEl=what.offsetParent;
			while (parentEl!=null){
				totaloffset=(offsettype=="left")? totaloffset+parentEl.offsetLeft : totaloffset+parentEl.offsetTop;
				parentEl=parentEl.offsetParent;
			}
			return totaloffset;
		},

		swipeeffect:function(){
			if (this.bottomclip<parseInt(this.dropmenuobj.offsetHeight)){
				this.bottomclip+=10+(this.bottomclip/10)
				this.dropmenuobj.style.clip="rect(0 auto "+this.bottomclip+"px 0)"
			}
			else
				return
			this.swipetimer=setTimeout("cssdropdown.swipeeffect()", 10)
		},

		showhide:function(obj, e){
			if (this.ie || this.firefox)
				this.dropmenuobj.style.left=this.dropmenuobj.style.top="-500px"
			if (e.type=="click" && obj.visibility==hidden || e.type=="mouseover"){
				if (this.enableswipe==1){
					if (typeof this.swipetimer!="undefined")
						clearTimeout(this.swipetimer)
					obj.clip="rect(0 auto 0 0)"
					this.bottomclip=0
					this.swipeeffect()
				}
				obj.visibility="visible"
			}
			else if (e.type=="click")
				obj.visibility="hidden"
		},

		iecompattest:function(){
			return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
		},

		clearbrowseredge:function(obj, whichedge){
			var edgeoffset=0
			if (whichedge=="rightedge"){
				var windowedge=this.ie && !window.opera? this.iecompattest().scrollLeft+this.iecompattest().clientWidth-15 : window.pageXOffset+window.innerWidth-15
				this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetWidth
				if (windowedge-this.dropmenuobj.x < this.dropmenuobj.contentmeasure)
					edgeoffset=this.dropmenuobj.contentmeasure-obj.offsetWidth
			}
			else{
				var topedge=this.ie && !window.opera? this.iecompattest().scrollTop : window.pageYOffset
				var windowedge=this.ie && !window.opera? this.iecompattest().scrollTop+this.iecompattest().clientHeight-15 : window.pageYOffset+window.innerHeight-18
				this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetHeight
				if (windowedge-this.dropmenuobj.y < this.dropmenuobj.contentmeasure){
					edgeoffset=this.dropmenuobj.contentmeasure+obj.offsetHeight
					if ((this.dropmenuobj.y-topedge)<this.dropmenuobj.contentmeasure)
						edgeoffset=this.dropmenuobj.y+obj.offsetHeight-topedge
				}
			}
			return edgeoffset
		},

		dropit:function(obj, e, dropmenuID){
			if (this.dropmenuobj!=null)
				this.dropmenuobj.style.visibility="hidden"
			this.clearhidemenu()
			if (this.ie||this.firefox){
				obj.onmouseout=function(){cssdropdown.delayhidemenu()}
				obj.onclick=function(){return !cssdropdown.disablemenuclick}
				this.dropmenuobj=document.getElementById(dropmenuID)
				if(!this.dropmenuobj) return;
				this.dropmenuobj.onmouseover=function(){cssdropdown.clearhidemenu()}
				this.dropmenuobj.onmouseout=function(e){cssdropdown.dynamichide(e)}
				this.dropmenuobj.onclick=function(){cssdropdown.delayhidemenu()}
				this.showhide(this.dropmenuobj.style, e)
				this.dropmenuobj.x=this.getposOffset(obj, "left")
				this.dropmenuobj.y=this.getposOffset(obj, "top")
				this.dropmenuobj.style.left=this.dropmenuobj.x-this.clearbrowseredge(obj, "rightedge")+"px"
				this.dropmenuobj.style.top=this.dropmenuobj.y-this.clearbrowseredge(obj, "bottomedge")+obj.offsetHeight+1+"px"
				this.positionshim()
			}
		},

		positionshim:function(){
			if (this.enableiframeshim && typeof this.shimobject!="undefined"){
				if (this.dropmenuobj.style.visibility=="visible"){
					this.shimobject.style.width=this.dropmenuobj.offsetWidth+"px"
					this.shimobject.style.height=this.dropmenuobj.offsetHeight+"px"
					this.shimobject.style.left=this.dropmenuobj.style.left
					this.shimobject.style.top=this.dropmenuobj.style.top
				}
				this.shimobject.style.display=(this.dropmenuobj.style.visibility=="visible")? "block" : "none"
			}
		},

		hideshim:function(){
			if (this.enableiframeshim && typeof this.shimobject!="undefined")
				this.shimobject.style.display='none'
		},

		contains_firefox:function(a, b) {
			while (b.parentNode)
				if ((b = b.parentNode) == a)
					return true;
			return false;
		},

		dynamichide:function(e){
			var evtobj=window.event? window.event : e
			if (this.ie&&!this.dropmenuobj.contains(evtobj.toElement))
				this.delayhidemenu()
			else if (this.firefox&&e.currentTarget!= evtobj.relatedTarget&& !this.contains_firefox(evtobj.currentTarget, evtobj.relatedTarget))
				this.delayhidemenu()
		},

		delayhidemenu:function(){
			this.delayhide=setTimeout("cssdropdown.dropmenuobj.style.visibility='hidden'; cssdropdown.hideshim()",this.disappeardelay)
		},

		clearhidemenu:function(){
			if (this.delayhide!="undefined")
				clearTimeout(this.delayhide)
		},

		startchrome:function(){
			for (var ids=0; ids<arguments.length; ids++){
				var menuitems=document.getElementById(arguments[ids]).getElementsByTagName("a")
				for (var i=0; i<menuitems.length; i++){
					if (menuitems[i].getAttribute("rel")){
						var relvalue=menuitems[i].getAttribute("rel")
						menuitems[i].onmouseover=function(e){
							var event=typeof e!="undefined"? e : window.event
							cssdropdown.dropit(this,event,this.getAttribute("rel"))
						}
					}
				}
			}
			if (window.createPopup && !window.XmlHttpRequest){
				document.write('<IFRAME id="iframeshim"  src="" style="display: none; left: 0; top: 0; z-index: 90; position: absolute; filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)" frameBorder="0" scrolling="no"></IFRAME>')
				this.shimobject=document.getElementById("iframeshim")
			}
		}

	}
</script><script type="text/javascript">cssdropdown.startchrome("navMenu")</script>
<script>
	var cssdropdowns={
		disappeardelay: 250,
		disablemenuclick: false,
		enableswipe: 1,
		enableiframeshim: 1,
		dropmenuobj: null, ie: document.all, firefox: document.getElementById&&!document.all, swipetimer: undefined, bottomclip:0,

		getposOffset:function(what, offsettype){
			var totaloffset=(offsettype=="left")? what.offsetLeft : what.offsetTop;
			var parentEl=what.offsetParent;
			while (parentEl!=null){
				totaloffset=(offsettype=="left")? totaloffset+parentEl.offsetLeft : totaloffset+parentEl.offsetTop;
				parentEl=parentEl.offsetParent;
			}
			return totaloffset;
		},

		swipeeffect:function(){
			if (this.bottomclip<parseInt(this.dropmenuobj.offsetHeight)){
				this.bottomclip+=10+(this.bottomclip/10)
				this.dropmenuobj.style.clip="rect(0 auto "+this.bottomclip+"px 0)"
			}
			else
				return
			this.swipetimer=setTimeout("cssdropdown.swipeeffect()", 10)
		},

		showhide:function(obj, e){
			if (this.ie || this.firefox)
				this.dropmenuobj.style.left=this.dropmenuobj.style.top="-500px"
			if (e.type=="click" && obj.visibility==hidden || e.type=="mouseover"){
				if (this.enableswipe==1){
					if (typeof this.swipetimer!="undefined")
						clearTimeout(this.swipetimer)
					obj.clip="rect(0 auto 0 0)"
					this.bottomclip=0
					this.swipeeffect()
				}
				obj.visibility="visible"
			}
			else if (e.type=="click")
				obj.visibility="hidden"
		},

		iecompattest:function(){
			return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
		},

		clearbrowseredge:function(obj, whichedge){
			var edgeoffset=0
			if (whichedge=="rightedge"){
				var windowedge=this.ie && !window.opera? this.iecompattest().scrollLeft+this.iecompattest().clientWidth-15 : window.pageXOffset+window.innerWidth-15
				this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetWidth
				if (windowedge-this.dropmenuobj.x < this.dropmenuobj.contentmeasure)
					edgeoffset=this.dropmenuobj.contentmeasure-obj.offsetWidth
			}
			else{
				var topedge=this.ie && !window.opera? this.iecompattest().scrollTop : window.pageYOffset
				var windowedge=this.ie && !window.opera? this.iecompattest().scrollTop+this.iecompattest().clientHeight-15 : window.pageYOffset+window.innerHeight-18
				this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetHeight
				if (windowedge-this.dropmenuobj.y < this.dropmenuobj.contentmeasure){
					edgeoffset=this.dropmenuobj.contentmeasure+obj.offsetHeight
					if ((this.dropmenuobj.y-topedge)<this.dropmenuobj.contentmeasure)
						edgeoffset=this.dropmenuobj.y+obj.offsetHeight-topedge
				}
			}
			return edgeoffset
		},

		dropit:function(obj, e, dropmenuID){
			if (this.dropmenuobj!=null)
				this.dropmenuobj.style.visibility="hidden"
			this.clearhidemenu()
			if (this.ie||this.firefox){
				obj.onmouseout=function(){cssdropdown.delayhidemenu()}
				obj.onclick=function(){return !cssdropdown.disablemenuclick}
				this.dropmenuobj=document.getElementById(dropmenuID)
				if(!this.dropmenuobj) return;
				this.dropmenuobj.onmouseover=function(){cssdropdown.clearhidemenu()}
				this.dropmenuobj.onmouseout=function(e){cssdropdown.dynamichide(e)}
				this.dropmenuobj.onclick=function(){cssdropdown.delayhidemenu()}
				this.showhide(this.dropmenuobj.style, e)
				this.dropmenuobj.x=this.getposOffset(obj, "left")
				this.dropmenuobj.y=this.getposOffset(obj, "top")
				this.dropmenuobj.style.left=this.dropmenuobj.x-this.clearbrowseredge(obj, "rightedge")+"px"
				this.dropmenuobj.style.top=this.dropmenuobj.y-this.clearbrowseredge(obj, "bottomedge")+obj.offsetHeight+1+"px"
				this.positionshim()
			}
		},

		positionshim:function(){
			if (this.enableiframeshim && typeof this.shimobject!="undefined"){
				if (this.dropmenuobj.style.visibility=="visible"){
					this.shimobject.style.width=this.dropmenuobj.offsetWidth+"px"
					this.shimobject.style.height=this.dropmenuobj.offsetHeight+"px"
					this.shimobject.style.left=this.dropmenuobj.style.left
					this.shimobject.style.top=this.dropmenuobj.style.top
				}
				this.shimobject.style.display=(this.dropmenuobj.style.visibility=="visible")? "block" : "none"
			}
		},

		hideshim:function(){
			if (this.enableiframeshim && typeof this.shimobject!="undefined")
				this.shimobject.style.display='none'
		},

		contains_firefox:function(a, b) {
			while (b.parentNode)
				if ((b = b.parentNode) == a)
					return true;
			return false;
		},

		dynamichide:function(e){
			var evtobj=window.event? window.event : e
			if (this.ie&&!this.dropmenuobj.contains(evtobj.toElement))
				this.delayhidemenu()
			else if (this.firefox&&e.currentTarget!= evtobj.relatedTarget&& !this.contains_firefox(evtobj.currentTarget, evtobj.relatedTarget))
				this.delayhidemenu()
		},

		delayhidemenu:function(){
			this.delayhide=setTimeout("cssdropdown.dropmenuobj.style.visibility='hidden'; cssdropdown.hideshim()",this.disappeardelay)
		},

		clearhidemenu:function(){
			if (this.delayhide!="undefined")
				clearTimeout(this.delayhide)
		},

		startchrome:function(){
			for (var ids=0; ids<arguments.length; ids++){
				var menuitems=document.getElementById(arguments[ids]).getElementsByTagName("a")
				for (var i=0; i<menuitems.length; i++){
					if (menuitems[i].getAttribute("rel")){
						var relvalue=menuitems[i].getAttribute("rel")
						menuitems[i].onmouseover=function(e){
							var event=typeof e!="undefined"? e : window.event
							cssdropdown.dropit(this,event,this.getAttribute("rel"))
						}
					}
				}
			}
			if (window.createPopup && !window.XmlHttpRequest){
				document.write('<IFRAME id="iframeshim"  src="" style="display: none; left: 0; top: 0; z-index: 90; position: absolute; filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)" frameBorder="0" scrolling="no"></IFRAME>')
				this.shimobject=document.getElementById("iframeshim")
			}
		}

	}
</script><script type="text/javascript">cssdropdown.startchrome("navMenus")</script>
<script>
	var cssdropdownv={
		disappeardelay: 250,
		disablemenuclick: false,
		enableswipe: 1,
		enableiframeshim: 1,
		dropmenuobj: null, ie: document.all, firefox: document.getElementById&&!document.all, swipetimer: undefined, bottomclip:0,

		getposOffset:function(what, offsettype){
			var totaloffset=(offsettype=="left")? what.offsetLeft : what.offsetTop;
			var parentEl=what.offsetParent;
			while (parentEl!=null){
				totaloffset=(offsettype=="left")? totaloffset+parentEl.offsetLeft : totaloffset+parentEl.offsetTop;
				parentEl=parentEl.offsetParent;
			}
			return totaloffset;
		},

		swipeeffect:function(){
			if (this.bottomclip<parseInt(this.dropmenuobj.offsetHeight)){
				this.bottomclip+=10+(this.bottomclip/10)
				this.dropmenuobj.style.clip="rect(0 auto "+this.bottomclip+"px 0)"
			}
			else
				return
			this.swipetimer=setTimeout("cssdropdown.swipeeffect()", 10)
		},

		showhide:function(obj, e){
			if (this.ie || this.firefox)
				this.dropmenuobj.style.left=this.dropmenuobj.style.top="-500px"
			if (e.type=="click" && obj.visibility==hidden || e.type=="mouseover"){
				if (this.enableswipe==1){
					if (typeof this.swipetimer!="undefined")
						clearTimeout(this.swipetimer)
					obj.clip="rect(0 auto 0 0)"
					this.bottomclip=0
					this.swipeeffect()
				}
				obj.visibility="visible"
			}
			else if (e.type=="click")
				obj.visibility="hidden"
		},

		iecompattest:function(){
			return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
		},

		clearbrowseredge:function(obj, whichedge){
			var edgeoffset=0
			if (whichedge=="rightedge"){
				var windowedge=this.ie && !window.opera? this.iecompattest().scrollLeft+this.iecompattest().clientWidth-15 : window.pageXOffset+window.innerWidth-15
				this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetWidth
				if (windowedge-this.dropmenuobj.x < this.dropmenuobj.contentmeasure)
					edgeoffset=this.dropmenuobj.contentmeasure-obj.offsetWidth
			}
			else{
				var topedge=this.ie && !window.opera? this.iecompattest().scrollTop : window.pageYOffset
				var windowedge=this.ie && !window.opera? this.iecompattest().scrollTop+this.iecompattest().clientHeight-15 : window.pageYOffset+window.innerHeight-18
				this.dropmenuobj.contentmeasure=this.dropmenuobj.offsetHeight
				if (windowedge-this.dropmenuobj.y < this.dropmenuobj.contentmeasure){
					edgeoffset=this.dropmenuobj.contentmeasure+obj.offsetHeight
					if ((this.dropmenuobj.y-topedge)<this.dropmenuobj.contentmeasure)
						edgeoffset=this.dropmenuobj.y+obj.offsetHeight-topedge
				}
			}
			return edgeoffset
		},

		dropit:function(obj, e, dropmenuID){
			if (this.dropmenuobj!=null)
				this.dropmenuobj.style.visibility="hidden"
			this.clearhidemenu()
			if (this.ie||this.firefox){
				obj.onmouseout=function(){cssdropdown.delayhidemenu()}
				obj.onclick=function(){return !cssdropdown.disablemenuclick}
				this.dropmenuobj=document.getElementById(dropmenuID)
				if(!this.dropmenuobj) return;
				this.dropmenuobj.onmouseover=function(){cssdropdown.clearhidemenu()}
				this.dropmenuobj.onmouseout=function(e){cssdropdown.dynamichide(e)}
				this.dropmenuobj.onclick=function(){cssdropdown.delayhidemenu()}
				this.showhide(this.dropmenuobj.style, e)
				this.dropmenuobj.x=this.getposOffset(obj, "left")
				this.dropmenuobj.y=this.getposOffset(obj, "top")
				this.dropmenuobj.style.left=this.dropmenuobj.x-this.clearbrowseredge(obj, "rightedge")+"px"
				this.dropmenuobj.style.top=this.dropmenuobj.y-this.clearbrowseredge(obj, "bottomedge")+obj.offsetHeight+1+"px"
				this.positionshim()
			}
		},

		positionshim:function(){
			if (this.enableiframeshim && typeof this.shimobject!="undefined"){
				if (this.dropmenuobj.style.visibility=="visible"){
					this.shimobject.style.width=this.dropmenuobj.offsetWidth+"px"
					this.shimobject.style.height=this.dropmenuobj.offsetHeight+"px"
					this.shimobject.style.left=this.dropmenuobj.style.left
					this.shimobject.style.top=this.dropmenuobj.style.top
				}
				this.shimobject.style.display=(this.dropmenuobj.style.visibility=="visible")? "block" : "none"
			}
		},

		hideshim:function(){
			if (this.enableiframeshim && typeof this.shimobject!="undefined")
				this.shimobject.style.display='none'
		},

		contains_firefox:function(a, b) {
			while (b.parentNode)
				if ((b = b.parentNode) == a)
					return true;
			return false;
		},

		dynamichide:function(e){
			var evtobj=window.event? window.event : e
			if (this.ie&&!this.dropmenuobj.contains(evtobj.toElement))
				this.delayhidemenu()
			else if (this.firefox&&e.currentTarget!= evtobj.relatedTarget&& !this.contains_firefox(evtobj.currentTarget, evtobj.relatedTarget))
				this.delayhidemenu()
		},

		delayhidemenu:function(){
			this.delayhide=setTimeout("cssdropdown.dropmenuobj.style.visibility='hidden'; cssdropdown.hideshim()",this.disappeardelay)
		},

		clearhidemenu:function(){
			if (this.delayhide!="undefined")
				clearTimeout(this.delayhide)
		},

		startchrome:function(){
			for (var ids=0; ids<arguments.length; ids++){
				var menuitems=document.getElementById(arguments[ids]).getElementsByTagName("a")
				for (var i=0; i<menuitems.length; i++){
					if (menuitems[i].getAttribute("rel")){
						var relvalue=menuitems[i].getAttribute("rel")
						menuitems[i].onmouseover=function(e){
							var event=typeof e!="undefined"? e : window.event
							cssdropdown.dropit(this,event,this.getAttribute("rel"))
						}
					}
				}
			}
			if (window.createPopup && !window.XmlHttpRequest){
				document.write('<IFRAME id="iframeshim"  src="" style="display: none; left: 0; top: 0; z-index: 90; position: absolute; filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)" frameBorder="0" scrolling="no"></IFRAME>')
				this.shimobject=document.getElementById("iframeshim")
			}
		}

	}
</script><script type="text/javascript">cssdropdown.startchrome("navMenuv")</script>






</body>
</html>
