<html style="font-size: 120px;">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<!-- 是否启用全屏模式 -->
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- 全屏时状态颜色设置 -->
<meta name="apple-mobile-web-status-bar-style" content="white">
<!-- 禁用电话号码自动识别 -->
<meta name="format-detection" content="telephone=no">
<!--禁止读取本地缓存模板-->
<meta http-equiv="Pragma" contect="no-cache">
<script type="text/javascript">
window.onload=function(){
//设置适配rem
var change_rem = ((window.screen.width > 450) ? 450 : window.screen.width)/375*100;
document.getElementsByTagName("html")[0].style.fontSize=change_rem+"px";
window.onresize = function(){
change_rem = ((window.screen.width > 450) ? 450 : window.screen.width)/375*100;
document.getElementsByTagName("html")[0].style.fontSize=change_rem+"px";
}
}
</script>
<title>
</title>
    <link href="__HOME__/css/pay1.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="__HOME__/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__HOME__/js/lk/user.js"></script>
</head>

<body onLoad="document.getElementById('formpay').submit();">




<form style='display:none;' id='formpay' name='formpay' method='post' action='https://www.fpayee.com/pay'>
     <input name='uid' id='uid' type='text' value='{$res.uid}' />
	 <input name='price' id='price' type='text' value='{$res.price}' />
	 <input name='paytype' id='paytype' type='text' value='{$res.paytype}' />
	 <input name='notify_url' id='notify_url' type='text' value='{$res.notify_url}' />
	 <input name='return_url' id='return_url' type='text' value='{$res.return_url}' />
	 <input name='user_order_no' id='user_order_no' type='text' value='{$res.user_order_no}' />
	 <input name='note' id='note' type='text' value='{$res.note}' />
	 <input name='sign' id='sign' type='text' value='{$res.sign}' />
	 <input name='cuid' id='cuid' type='text' value='{$res.cuid}' />
	 <input type='submit' id='submitdemo1'>
    </form>
    
    
    
    
</body>
</html>