<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- 是否启用全屏模式 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 全屏时状态颜色设置 -->
    <meta name="apple-mobile-web-status-bar-style" content="white">
    <!-- 禁用电话号码自动识别 -->
    <meta name="format-detection" content="telephone=no">
    <!--禁止读取本地缓存模板-->
    <meta http-equiv="Pragma" contect="no-cache">
    <title></title>
    {include file="alyslt" /}
    <link rel="stylesheet" href="/index/css/optional.css" >
    <script src="/index/js/jquery-2.1.4.min.js"></script>
</head>
<body>
    <div class="hua">
        <div><a href=""><i class="iconfont icon-31fanhui1"></i> 返回</a></div>
        <div><i class="iconfont "></i></div>
    </div>
</body>
</html>